<ion-view view-title="Aprendendo Novidades">
<ion-content padding="true">    
<ion-slide-box on-slide-changed="slideChanged_third(index)">
<ion-slide>
<div class="box">
	<div class="dialogo1_cap2 centralizar_dialogo">
		<div class="nino">
			<img class="fotoNino" src="img/nino.png">
			<div class="bubble-nino bubble papoNino_cap2">
				<p>Seja bem-vindo à nossa nova aula. Antes de continuarmos, vamos rever alguns pontos:</p>
				<div class="button-pass button-height">
					<a href='#' class="voltar_papo_nino">
						<span class='button-balloon button-active button-disabled icon-left ion-chevron-left button-disabled'></span>
					</a>
					<a href='#' class="seguir_papo_nino" ng-click="nextBalloon('.papoNino_cap2','.papoCat_cap2')">
						<span class='button-balloon button-active icon-right ion-chevron-right'></span>
					</a>
				</div>
			</div>
		</div>
		<div class="gato">
			<img class="cat" src="img/cat2.png">
			<div class="bubble-gato bubble papoCat_cap2">
				<div class="gato_cap2_1">
					<p>Na aula anterior você aprendeu algumas coisas, vamos recapitular? Usar a caneta; Como movimentar o personagem; Como rotacionar o personagem;</p>
					<div class="button-pass">
						<a href='#' class="voltar_papo_gato" ng-click="nextBalloon('.papoCat_cap2','.papoNino_cap2')">
							<span class='button-balloon button-active icon-left ion-chevron-left'></span>
						</a>
						<a href='#' class="seguir_papo_gato" ng-click="nextBalloon('.gato_cap2_1','.gato_cap2_2')">
							<span class='button-balloon button-active icon-right ion-chevron-right'></span>
						</a>
					</div>
				</div>
				<div class="gato_cap2_2">
					<p>Oi amiguinho! Pronto para me fazer andar muito? Dessa vez usaremos as setinhas do seu teclado para me dar movimento.</p>
					<div class="button-pass">
						<a href='#' class="voltar_papo_gato" ng-click="nextBalloon('.gato_cap2_2','.gato_cap2_1')">
							<span class='button-balloon button-active icon-left ion-chevron-left'></span>
						</a>
						<a href='#' class="seguir_papo_gato button-disabled">
							<span class='button-balloon button-active icon-right ion-chevron-right'></span>
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
</ion-slide>
<ion-slide>
<div class="box">
	<div class="dialogo1_cap3">
		<div class="nina_toda nina_pincipal">
			<img class="fotoNina2_2" src="img/nina2.png">
			<div class="bubble-nina2 bubble papoNina_cap3">
				<p>Hoje vamos aprender mais movimentos para personagens em nosso palco. Isso lhe dará uma ideia de como funcionam os vídeosgames. Vamos lá?</p>
				<div class="button-pass">
					<a href='#' class="voltar_papo_nino">
						<span class='button-balloon button-active button-disabled icon-left ion-chevron-left button-disabled'></span>
					</a>
					<a href='#' class="seguir_papo_nino" ng-click="nextBalloon('.papoNina_cap3','.papoCat_cap3')">
						<span class='button-balloon button-active icon-right ion-chevron-right'></span>
					</a>
				</div>
			</div>
		</div>
		<div class="gato">
			<img class="cat" src="img/cat2.png">
			<div class="bubble-gato bubble papoCat_cap3">
				<div class="gato_cap3_1">
					<p>Temos 4 eventos adicionados. Vamos configurar cada um com nossas setinhas do teclado (Seta para esquerda, direita, cima e baixo).</p>
					<div class="button-pass">
						<a href='#' class="voltar_papo_gato" ng-click="nextBalloon('.papoCat_cap3','.papoNina_cap3')">
							<span class='button-balloon button-active icon-left ion-chevron-left'></span>
						</a>
						<a href='#' class="seguir_papo_gato" ng-click="nextBalloon('.gato_cap3_1','.gato_cap3_2')">
							<span class='button-balloon button-active icon-right ion-chevron-right'></span>
						</a>
					</div>
				</div>
				<div class="gato_cap3_2">
					<p>Crie um novo projeto na página inicial, e a seguir adicione os seguintes blocos:</p>
					<div class="button-pass button-height">
						<a href='#' class="voltar_papo_gato" ng-click="nextBalloon('.gato_cap3_2','.gato_cap3_1')">
							<span class='button-balloon button-active icon-left ion-chevron-left'></span>
						</a>
						<a href='#' class="seguir_papo_gato" ng-click="nextBalloon('.dialogo1_cap3','.quadro1_cap3')">
							<span class='button-balloon button-active icon-right ion-chevron-right'></span>
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="quadro1_cap3">
		<a href='#' class="voltar_dialogo_cap2" ng-click="nextBalloon('.quadro1_cap3','.dialogo1_cap3')">
			<span class='button'> Voltar ao diálogo</span>
		</a>
		<img class="painel_scratch_cap2" src="img/board18.png">
	</div>
</div>
</ion-slide>
<ion-slide>
<div class="box">
	<div class="dialogo4">
		<div class="nina2">
			<img class="fotoNina2" src="img/nina_busto2.png">
			<div class="papoNina2_1">
				<div class="bubble-nina2 bubble">
					<p>Scratch, eu acho que entendi. Nós precisaríamos adicionar um evento para cada movimento. Seria isso?</p>
					<div class="button-pass button-height">
						<a href='#' class="voltar_papo_nina">
							<span class='button-balloon button-active icon-left ion-chevron-left button-disabled'></span>
						</a>
						<a href='#' class="seguir_papo_nina" ng-click="nextBalloon('.papoNina2_1','.papo_gato2')">
							<span class='button-balloon button-active icon-right ion-chevron-right'></span>
						</a>
					</div>
				</div>
			</div>
			<div class="papoNina2_2">
				<div class="bubble-nina2 bubble">
					<p>Então pessoal, vamos adicionar o bloco de movimento X para os eventos que possuem seta para direita e seta para esquerda.</p>
					<div class="button-pass">
						<a href='#' class="voltar_papo_nina" ng-click="nextBalloon('.papoNina2_2','.papo_gato2')">
							<span class='button-balloon button-active icon-left ion-chevron-left'></span>
						</a>
						<a href='#' class="seguir_papo_nina" ng-click="nextBalloon('.dialogo4','.quadro4')">
							<span class='button-balloon button-active icon-right ion-chevron-right'></span>
						</a>
					</div>
				</div>
			</div>
		</div>
		<div class="gato2">
			<img class="cat_img" src="img/cat2.png">
			<div class="papo_gato2">
				<div class="bubble-gato2 bubble">
					<div class="gato2_1">
						<p>Perfeitamente, Clara!.</p>
						<div class="button-pass button-height">
							<a href='#' class="voltar_papo_gato" ng-click="nextBalloon('.papo_gato2','.papoNina2_1')">
								<span class='button-balloon button-active icon-left ion-chevron-left'></span>
							</a>
							<a href='#' class="seguir_papo_gato" ng-click="nextBalloon('.papo_gato2','.papoNina2_2')">
								<span class='button-balloon button-active icon-right ion-chevron-right'></span>
							</a>
						</div>
					</div>

				</div>
			</div>
		</div>
	</div>
	<div class="quadro4">
		<a href='#' class="voltar_dialogo_board9" ng-click="nextBalloon('.quadro4','.dialogo4')">
			<span class='button'> Voltar ao diálogo</span>
		</a>
		<img class="painel_scratch_board9" src="img/board19.png">
	</div>
</div>
</ion-slide>
<ion-slide>
<div class="box">
	<div id="dialogo5" class="centralizar_dialogo">
		<div class="nina2">
			<img class="fotoNina2" src="img/nina_busto2.png">
			<div class="papoNina2_3">
				<div class="bubble-nina2 bubble">
					<p>Você deve estar achando estranho os valores positivos e negativos. Não se preocupe. Vamos entender melhor com a seguinte imagem:</p>
					<div class="button-pass">
						<a href='#' class="voltar_papo_nina">
							<span class='button-balloon button-active icon-left ion-chevron-left button-disabled'></span>
						</a>
						<a href='#' class="seguir_papo_nina" ng-click="nextBalloon('#dialogo5','.quadro5')">
							<span class='button-balloon button-active icon-right ion-chevron-right'></span>
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="quadro5">
		<a href='#' class="voltar_dialogo_board9" ng-click="nextBalloon('.quadro5','#dialogo5')">
			<span class='button'> Voltar ao diálogo</span>
		</a>
		<img class="painel_scratch_board9" src="img/board20.png">
	</div>
</div>
</ion-slide>
<ion-slide>
<div class="box">
	<div class="dialogo3">
		<div class="nino3">
			<img class="nino_busto" src="img/nino_busto.png">
			<div class="papoNino3">
				<div class="bubble-nino bubble">
					<div class="papoNino3_1">
						<p>Ao meio do palco temos o ponto zero (0). Nesse local iniciamos a contabilização dos valores no sentido horizontal (direita e esquerda) e vertical (topo e baixo).</p>
						<div class="button-pass">
							<a href='#' class="voltar_papo_nino">
								<span class='button-balloon button-active icon-left ion-chevron-left button-disabled'></span>
							</a>
							<a href='#' class="seguir_papo_nino" ng-click="nextBalloon('.papoNino3_1','.papoNino3_II')">
								<span class='button-balloon button-active icon-right ion-chevron-right'></span>
							</a>
						</div>
					</div>
					<div class="papoNino3_II">
						<p>Para o Scratch se movimentar, será modificado o valor de X. Se for para a esquerda, o valor será negativo, se for para a direita, o valor será positivo.</p>
						<div class="button-pass">
							<a href='#' class="voltar_papo_nino" ng-click="nextBalloon('.papoNino3_II','.papoNino3_1')">
								<span class='button-balloon button-active icon-left ion-chevron-left'></span>
							</a>
							<a href='#' class="seguir_papo_nino" ng-click="nextBalloon('.papoNino3','.papo_gato3')">
								<span class='button-balloon button-active icon-right ion-chevron-right'></span>
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="gato2">
			<img class="cat_img" src="img/cat2.png">
			<div class="papo_gato3">
				<div class="bubble-gato2 bubble">
					<div class="gato3_1">
						<p>Isso mesmo, Caio! Para que você possa compreender melhor, aperte as setinhas para esquerda e para direita do seu teclado.</p>
						<div class="button-pass">
							<a href='#' class="voltar_papo_gato" ng-click="nextBalloon('.papo_gato3','.papoNino3')">
								<span class='button-balloon button-active icon-left ion-chevron-left'></span>
							</a>
							<a href='#' class="seguir_papo_gato">
								<span class='button-balloon button-active icon-right ion-chevron-right button-disabled'></span>
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
</ion-slide>
<ion-slide>
<div class="box">
	<div class="dialogo6 centralizar_dialogo2">
		<div class="nino3">
			<img class="nino_busto" src="img/nino_busto.png">
			<div class="papoNino4">
				<div class="bubble-nino bubble">
					<p>Legal, não é mesmo? Sendo assim vamos para a outra parte. Adicione mais alguns blocos que modifiquem a posição no sentido Y (Vertical). Veja a seguir:</p>
					<div class="button-pass">
						<a href='#' class="voltar_papo_nino">
							<span class='button-balloon button-active icon-left ion-chevron-left button-disabled'></span>
						</a>
						<a href='#' class="seguir_papo_nino" ng-click="nextBalloon('.dialogo6','.quadro3')">
							<span class='button-balloon button-active icon-right ion-chevron-right'></span>
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="quadro3">
		<a href='#' class="voltar_dialogo_board21" ng-click="nextBalloon('.quadro3','.dialogo6')">
			<span class='button'> Voltar ao diálogo</span>
		</a>
		<img class="painel_scratch_board21" src="img/board21.png">
	</div>
</div>
</ion-slide>
<ion-slide>
<div class="box">
	<img class="painel_scratch_board9 " src="img/board22.png">
	<a href='#' class="voltar_dialogo_board9" ng-click="nextBalloon('#','.catPosition')">
		<span class='button'> Voltar ao diálogo</span>
	</a>
	<div class="board_background catPosition"></div>
	<div class="catPosition">
		<div class="papoCat2">
			<div class="bubble-gato bubble">
				<p>Usando todas as setinhas do seu teclado, como num joguinho de vídeogame, eu posso me movimentar por toda a parte do palco. É muito legal, não é?.</p>
				<div class="button-pass">
					<a href='#' class="voltar_papo_gato button-disabled">
						<span class='button-balloon button-active icon-left ion-chevron-left'></span>
					</a>
					<a href='#' class="seguir_papo_gato" ng-click="nextBalloon('.catPosition','#')">
						<span class='button-balloon button-active icon-right ion-chevron-right'></span>
					</a>
				</div>
			</div>
		</div>
		<img class="cat catImg" src="img/cat.png">
	</div>
</div>
</ion-slide>
<ion-slide>
<div class="box">
	<div class="dialogo7 centralizar_dialogo2">
		<div class="nino3">
			<img class="nino_busto" src="img/nino_busto.png">
			<div class="papoNino4">
				<div class="bubble-nino bubble">
					<p>Agora é hora de melhorarmos nosso palco. Vamos mudar nosso plano de fundo para que fique mais realista? Para isso siga a sequência mostrada a seguir:</p>
					<div class="button-pass">
						<a href='#' class="voltar_papo_nino">
							<span class='button-balloon button-active icon-left ion-chevron-left button-disabled'></span>
						</a>
						<a href='#' class="seguir_papo_nino" ng-click="nextBalloon('.dialogo7','.quadro6')">
							<span class='button-balloon button-active icon-right ion-chevron-right'></span>
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="quadro6">
		<a href='#' class="voltar_dialogo_board21" ng-click="nextBalloon('.quadro6','.dialogo7')">
			<span class='button'> Voltar ao diálogo</span>
		</a>
		<img class="painel_scratch_board21" src="img/board23.png">
	</div>
</div>
</ion-slide>
<ion-slide>
<div class="box">
	<img class="painel_scratch_board24" src="img/board24.png">
</div>
</ion-slide>
<ion-slide>
<div class="box">
	<div class="nino4 centralizar_dialogo2 centralizar_dialogo2_layout2">
		<img class="nino_busto" src="img/nino_busto.png">
		<div class="papoNino4">
			<div class="bubble-nino bubble">
				<p>Prontinho. Agora você poderá movimentar o Scratch para qualquer lado do seu quarto. Lembre-se que o palco é a nossa Área de Comando.</p>
			</div>
		</div>
	</div>
</div>
</ion-slide>
<ion-slide>
<div class="box">
	<img class="painel_scratch_board25" src="img/board25.png">
</div>
</ion-slide>
<ion-slide>
<div class="box">
	<div class="nino4 centralizar_dialogo2 centralizar_dialogo2_layout2">
		<img class="nino_busto" src="img/nino_busto.png">
		<div class="papoNino4">
			<div class="bubble-nino bubble">
				<p>Agora que você já sabe como realizar toda a criação, vamos fazer um cenário novo? Você pode colocar mais elementos, mais movimentos. Sinta-se livre para criar usando tudo o que você aprendeu até agora!</p>
			</div>
		</div>
	</div>
</div>
</ion-slide>
</ion-slide-box>
</ion-content>
</ion-view>
