<ion-view view-title="Eu me remexo muito">
<ion-content padding="true">    
<ion-slide-box on-slide-changed="slideChanged_second(index)">
<ion-slide>
<div class="box">
  <div class="nino">
    <img class="fotoNino" src="img/nino.png">
    <div class="bubble-nino bubble papoNino">
      <p>Olá, sou Caio e amigo da Clara. Eu gosto de jogar videogame, montar coisas com Legos e também gosto de exercitar minhas ideias com desafios de lógica.</p>
      <div class="button-pass">
        <a href='#' class="voltar_papo_nino">
          <span class='button-balloon button-active button-disabled icon-left ion-chevron-left button-disabled'></span>
        </a>
        <a href='#' class="seguir_papo_nino" ng-click="nextBalloon('.papoNino','.papoNina')">
          <span class='button-balloon button-active icon-right ion-chevron-right'></span>
        </a>
      </div>
    </div>
  </div>
  <div class="gato">
    <img class="cat" src="img/cat.png">
    <div class="bubble-gato bubble papoCat">
      <div class="gato_1">
        <p>E eu sou o Scratch, o guia de vocês através de muitas aventuras pelo mundo tecnológico.</p>
        <div class="button-pass button-height">
          <a href='#' class="voltar_papo_gato" ng-click="nextBalloon('.papoCat','.papoNina')">
            <span class='button-balloon button-active icon-left ion-chevron-left'></span>
          </a>
          <a href='#' class="seguir_papo_gato" ng-click="nextBalloon('.gato_1','.gato_2')">
            <span class='button-balloon button-active icon-right ion-chevron-right'></span>
          </a>
        </div>
      </div>
      <div class="gato_2">
        <p>Mostrarei ao Caio, à Clara e a vocês muitas dicas sobre Programação, Games e até Robótica.</p>
        <div class="button-pass button-height">
          <a href='#' class="voltar_papo_gato" ng-click="nextBalloon('.gato_2','.gato_1')">
            <span class='button-balloon button-active icon-left ion-chevron-left'></span>
          </a>
          <a href='#' class="seguir_papo_gato" ng-click="nextBalloon('.gato_2','.gato_3')">
            <span class='button-balloon button-active icon-right ion-chevron-right'></span>
          </a>
        </div>
      </div>
      <div class="gato_3">
        <p>Ok, então. Vamos começar nossa aventura! O primeiro desafio é encontrar o ícone com o Scratch na sua tela. Achou? Muito bem!</p>
        <div class="button-pass">
          <a href='#' class="voltar_papo_gato" ng-click="nextBalloon('.gato_3','.gato_2')">
            <span class='button-balloon button-active icon-left ion-chevron-left'></span>
          </a>
          <a href='#' class="seguir_papo_gato">
            <span class='button-balloon button-active button-disabled icon-right ion-chevron-right'></span>
          </a>
        </div>
      </div>      
    </div>
  </div>
  <div class="nina">
    <img class="fotoNina" src="img/nina.png">
    <div class="bubble-nina bubble papoNina">
      <p>Eu sou a Clara. Eu também gosto muito de videogames e gosto mais ainda de programação.</p>
      <div class="button-pass button-height">
        <a href='#' class="voltar_papo_nina" ng-click="nextBalloon('.papoNina','.papoNino')">
          <span class='button-balloon button-active icon-left ion-chevron-left'></span>
        </a>
        <a href='#' class="seguir_papo_nina" ng-click="nextBalloon('.papoNina','.papoCat')">
          <span class='button-balloon button-active icon-right ion-chevron-right'></span>
        </a>
      </div>
    </div>
  </div>
</div>
</ion-slide>
<ion-slide>
<div class="box">
  <div class="painel_scratch quadro1">
    <div id="quadro1_painel1" class="quadro1_painel1_layout2">
      <img class="board_scratch" src="img/scratch.jpg"/>
      <div id="comandos" class="tooltips balao_comandos"><div id="conjuto_comandos"></div><span><b>Gurpo de comandos:</b> conjunto de comandos agupados coforme as ações das peças.</span></div>
      <div id="acoes" class="tooltips balao_acoes"><div id="lista_acoes"></div><span><b>Lista de blocos: </b>nesta área, está os blocos de comandos que você utilizará para programar.</span></div>
      <div id="prog" class="tooltips balao_prog"><div id="area_prog"></div><span><b>Área de comandos: </b>nesta área, você encaixará os bloquinhos para dar vida ao gatinho Scratch.</span></div>
      <div id="anima" class="tooltips balao_anima"><div id="area_anima"></div><span><b>Palco: </b>neste espaço, você poderá vizualizar o resultado do que você estiver construindo.</span></div>
    </div>
    <a href='#' class="voltar_dialogo3" ng-click="nextBalloon('.quadro1','#dialogo1')">
      <span class='button'> Voltar ao diálogo</span>
    </a>
  </div>
  <div id="dialogo1">
    <div class="nino2">
      <img class="nino_busto" src="img/nino_busto.png">
      <div class="papoNino2">
        <div class="bubble-nino bubble papoNino2_layout2">
          <p>Vamos agora abrir o programa, é só clicar nele! Agora que já estamos com ele aberto, que tal conhecermos melhor nossa área de trabalho?</p>
          <div class="button-pass">
            <a href='#' class="voltar_papo_nino">
              <span class='button-balloon button-active button-disabled icon-left ion-chevron-left button-disabled'></span>
            </a>
            <a href='#' class="seguir_papo_nino" ng-click="nextBalloon('.papoNino2','.papog')">
              <span class='button-balloon button-active icon-right ion-chevron-right'></span>
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="superg">
      <div class="papog">
        <div class="bubble-g bubble">
          <div class="papog_1">
            <p>Oi! Eu sou G, o geniozinho mascote da “Gênio Azul”. Toda vez que eu aparecer, trarei dicas super legais para você. </p>
            <div class="button-pass">
              <a href='#' class="voltar_papo_g" ng-click="nextBalloon('.papog','.papoNino2')">
                <span class='button-balloon button-active icon-left ion-chevron-left'></span>
              </a>
              <a href='#' class="seguir_papo_g" ng-click="nextBalloon('.papog_1','.papog_2')">
                <span class='button-balloon button-active icon-right ion-chevron-right'></span>
              </a>
            </div>
          </div>
          <div class="papog_2">
            <p>As áreas com cores diferentes mostram o que podemos fazer em cada uma delas, vamos investigar? Toque sobre elas.</p>
            <div class="button-pass">
              <a href='#' class="voltar_papo_g" ng-click="nextBalloon('.papog_2','.papog_1')">
                <span class='button-balloon button-active icon-left ion-chevron-left'></span>
              </a>
              <a href='#' class="seguir_papo_g" ng-click="nextBalloon('#dialogo1','.quadro1')">
                <span class='button-balloon button-active icon-right ion-chevron-right'></span>
              </a>
            </div>
          </div>
        </div>
      </div>
      <img class="genio" src="img/genio.png">
    </div>
  </div>
</div>
</ion-slide>
<ion-slide>
<div class="box">
  <img class="painel_scratch2 " src="img/board2.png">
  <a href='#' class="voltar_dialogo4" ng-click="nextBalloon('#','.catPosition')">
    <span class='button'> Voltar ao diálogo</span>
  </a>
  <div class="board_background catPosition"></div>
  <div class="catPosition">
    <div class="papoCat2">
      <div class="bubble-gato bubble">
        <div class="papoCat2_1">
          <p>E agora que já conhecemos o meu programa podemos começar a brincar. O que você acha de começarmos com movimentos? Eu quero andar!</p>
          <div class="button-pass">
            <a href='#' class="voltar_papo_gato button-disabled">
              <span class='button-balloon button-active icon-left ion-chevron-left'></span>
            </a>
            <a href='#' class="seguir_papo_gato" ng-click="nextBalloon('.papoCat2_1','.papoCat2_2')">
              <span class='button-balloon button-active icon-right ion-chevron-right'></span>
            </a>
          </div>
        </div>
        <div class="papoCat2_2">
          <p>Para isso, vá com o mouse até a opção CONTROLE. Você escolhe um bloco, clica sobre ele e segura o botão do mouse.</p>
          <div class="button-pass">
            <a href='#' class="voltar_papo_gato" ng-click="nextBalloon('.papoCat2_2','.papoCat2_1')">
              <span class='button-balloon button-active icon-left ion-chevron-left'></span>
            </a>
            <a href='#' class="seguir_papo_gato" ng-click="nextBalloon('.papoCat2_2','.papoCat2_3')">
              <span class='button-balloon button-active icon-right ion-chevron-right'></span>
            </a>
          </div>
        </div>
        <div class="papoCat2_3">
          <p>Depois arraste o bloco selecionado até a ÁREA DE COMANDOS. A Área de Comandos é como um palco, onde toda a ação acontecerá. Veja como:</p>
          <div class="button-pass">
            <a href='#' class="voltar_papo_gato" ng-click="nextBalloon('.papoCat2_3','.papoCat2_3')">
              <span class='button-balloon button-active icon-left ion-chevron-left'></span>
            </a>
            <a href='#' class="seguir_papo_gato" ng-click="nextBalloon('.catPosition','#')">
              <span class='button-balloon button-active icon-right ion-chevron-right'></span>
            </a>
          </div>
        </div>        
      </div>
      <img class="cat catImg" src="img/cat.png">
    </div>
  </div>
</div>
</ion-slide>
<ion-slide>
<div class="box">
  <img class="painel_scratch2" src="img/board3.png">
  <a href='#' class="voltar_dialogo4" ng-click="nextBalloon('#','.board_cat')">
    <span class='button'> Voltar ao diálogo</span>
  </a>
  <div class="board_background2 board_cat"></div>
  <div class="board_cat">
    <div class="papoCat2">
      <div class="bubble-gato bubble">
        <p>Muito bem! Você conseguiu! Agora você irá até a opção MOVIMENTO. Selecione o item PASSOS e leve para baixo do primeiro bloco na Área de Comandos. Veja:</p>
        <div class="button-pass">
          <a href='#' class="voltar_papo_gato button-disabled">
            <span class='button-balloon button-active icon-left ion-chevron-left'></span>
          </a>
          <a href='#' class="seguir_papo_gato" ng-click="nextBalloon('.board_cat','#')">
            <span class='button-balloon button-active icon-right ion-chevron-right'></span>
          </a>
        </div>
      </div>
    </div>
    <img class="cat catImg" src="img/cat.png">
  </div>
</div>
</ion-slide>
<ion-slide>
<div class="box">
  <div class="dialogo2">
    <div class="nina2">
      <img class="fotoNina2" src="img/nina_busto2.png">
      <div class="papoNina2">
        <div class="bubble-nina2 bubble">
          <p>Pronto, Scratch. Já encaixei os dois itens. O que faço agora?</p>
          <div class="button-pass button-height">
            <a href='#' class="voltar_papo_nina">
              <span class='button-balloon button-active icon-left ion-chevron-left button-disabled'></span>
            </a>
            <a href='#' class="seguir_papo_nina" ng-click="nextBalloon('.papoNina2','.papo_gato2')">
              <span class='button-balloon button-active icon-right ion-chevron-right'></span>
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="gato2">
      <img class="cat_img" src="img/cat2.png">
      <div class="papo_gato2">
        <div class="bubble-gato2 bubble">
          <div class="gato2_1">
            <p>Agora clique na bandeirinha verde. Ela fica no cantinho superior direito do programa. Toda vez que você clicar na bandeirinha verde, eu irei me mover para a direita.</p>
            <div class="button-pass">
              <a href='#' class="voltar_papo_gato" ng-click="nextBalloon('.papo_gato2','.papoNina2')">
                <span class='button-balloon button-active icon-left ion-chevron-left'></span>
              </a>
              <a href='#' class="seguir_papo_gato" ng-click="nextBalloon('.dialogo2','.quadro2')">
                <span class='button-balloon button-active icon-right ion-chevron-right'></span>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="quadro2">
    <a href='#' class="voltar_dialogo5" ng-click="nextBalloon('.quadro2','.dialogo2')">
      <span class='button'> Voltar ao diálogo</span>
    </a>
    <img class="painel_scratch" src="img/board4.png">
  </div>
</div>
</ion-slide>
<ion-slide>
<div class="box">
  <div style="position:relative; left:3%;">
    <div class="catPosition2">
      <div class="papoCat2">
        <div class="bubble-gato bubble">
          <p>Você pode mudar a quantidade de passos para um número maior ou menor. Esse número vai variar conforme você queira que eu ande mais ou menos. Veja como:</p>
        </div>
      </div>
      <img class="cat catImg catLayout2" src="img/cat.png">
    </div>
    <img class="painel_scratch3" src="img/board5.png">
  </div>
</div>
</ion-slide>
<ion-slide>
<div class="box">
  <div class="dialogo3">
    <div class="nino3">
      <img class="nino_busto" src="img/nino_busto.png">
      <div class="papoNino3">
        <div class="bubble-nino bubble">
          <p>Isso é muito legal, Scratch. Mas e se eu quiser mudar o seu movimento ou sua direção? O que eu faço?</p>
          <div class="button-pass button-height">
            <a href='#' class="voltar_papo_nino">
              <span class='button-balloon button-active icon-left ion-chevron-left button-disabled'></span>
            </a>
            <a href='#' class="seguir_papo_nino" ng-click="nextBalloon('.papoNino3','.papoCat3')">
              <span class='button-balloon button-active icon-right ion-chevron-right'></span>
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="gato3">
      <img class="cat catLayout2_1" src="img/cat2.png">
      <div class="papoCat3">
        <div class="bubble-gato2 bubble">
          <p>Primeiro, vá até o ícone em forma de tesoura na parte de cima da janela. Então, vamos clicar sobre o bloco que você colocou antes para apagá-lo. Acompanhe:</p>
          <div class="button-pass">
            <a href='#' class="voltar_papo_gato" ng-click="nextBalloon('.papoCat3','.papoNino3')">
              <span class='button-balloon button-active icon-left ion-chevron-left'></span>
            </a>
            <a href='#' class="seguir_papo_gato" ng-click="nextBalloon('.dialogo3','.quadro3')">
              <span class='button-balloon button-active icon-right ion-chevron-right'></span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="quadro3">
    <a href='#' class="voltar_dialogo2" ng-click="nextBalloon('.quadro3','.dialogo3')">
      <span class='button'> Voltar ao diálogo</span>
    </a>
    <img class="painel_scratch" src="img/board6.png">
  </div>
</div>
</ion-slide>
<ion-slide>
<div class="box">
  <div class="dialogo4">
    <div class="nina2">
      <img class="fotoNina2" src="img/nina_busto2.png">
      <div class="papoNina2_rot">
        <div class="bubble-nina2 bubble">
          <p>Você sabia que uma rotação completa possui 360 graus? Você pode diminuir os graus e fazer com que o Scratch gire só um pouquinho.</p>
          <div class="button-pass">
            <a href='#' class="voltar_papo_nina" ng-click="nextBalloon('.papoNina2_rot','.gato4_1')">
              <span class='button-balloon button-active icon-left ion-chevron-left'></span>
            </a>
            <a href='#' class="seguir_papo_nina" ng-click="nextBalloon('.papoNina2_rot','.gato4_2')">
              <span class='button-balloon button-active icon-right ion-chevron-right'></span>
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="gato4">
      <img class="cat catLayout2_2" src="img/cat2.png">
      <div class="gato4_1">
        <div class="bubble-gato2 bubble">
          <p>Vamos praticar mais! Dessa vez vamos escolher outro bloco da categoria movimento. Com esse bloco posso fazer movimentos de rotação.</p>
          <div class="button-pass">
            <a href='#' class="voltar_papo_gato">
              <span class='button-balloon button-active icon-left ion-chevron-left button-disabled'></span>
            </a>
            <a href='#' class="seguir_papo_gato" ng-click="nextBalloon('.gato4_1','.papoNina2_rot')">
              <span class='button-balloon button-active icon-right ion-chevron-right'></span>
            </a>
          </div>
        </div>
      </div>
      <div class="gato4_2">
        <div class="bubble-gato2 bubble">
          <p>Isso mesmo, Clara! Eu quero experimentar um movimento de rotação. Vamos configurar o bloco com apenas 45 graus, clique na bandeira verde e observe.</p>
          <div class="button-pass">
            <a href='#' class="voltar_papo_gato" ng-click="nextBalloon('.gato4_2','.papoNina2_rot')">
              <span class='button-balloon button-active icon-left ion-chevron-left'></span>
            </a>
            <a href='#' class="seguir_papo_gato" ng-click="nextBalloon('.dialogo4','.quadro4')">
              <span class='button-balloon button-active icon-right ion-chevron-right'></span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="quadro4">
    <a href='#' class="voltar_dialogo2" ng-click="nextBalloon('.quadro4','.dialogo4')">
      <span class='button'> Voltar ao diálogo</span>
    </a>
    <img class="painel_scratch" src="img/board7.png">
  </div>
</div>
</ion-slide>
<ion-slide>
<div class="box">
  <div class="gato5">
    <img class="cat" src="img/cat2.png">
    <div class="papoCat5 catLayout2_3">
      <div class="bubble-gato bubble">
        <p>Toda vez que você clicar na bandeirinha verde eu me movimentarei um pouco, de acordo com a opção que você escolheu, nesse caso, a rotação. Nossa que legal! Estou me remexendo muito!</p>
      </div>
    </div>
  </div>
</div>
</ion-slide>
<ion-slide>
<div class="box">
  <div class="nino2 centralizar_nino">
    <img class="nino_busto" src="img/nino_busto.png">
    <div class="papoNino_busto">
      <div class="bubble-nino bubble">
        <p>Eu quero te fazer um desafio. Eu estava pensando se você consegue fazer com que o Scratch fique em quatro posições diferentes. Você consegue?</p>
      </div>
    </div>
  </div>
</div>
</ion-slide>
<ion-slide>
<div class="box">
  <div class="gato5">
    <img class="cat" src="img/cat2.png">
    <div class="papoCat5 catLayout2_3">
      <div class="bubble-gato bubble">
        <p>Como você aprende rápido! Estou impressionado! Ufa! Por hoje é só.  Mal posso esperar para continuarmos na nossa aventura no nosso próximo encontro! Até mais!</p>
      </div>
    </div>
  </div>
</div>
</ion-slide>
</ion-slide-box>
</ion-content>
</ion-view>