<ion-side-menus enable-menu-with-back-views="true">
  <ion-side-menu-content drag-content="false">
    <ion-nav-bar class="bar-calm">
      <ion-nav-back-button class="button-stable">
        <i class="ion-chevron-left"></i>
      </ion-nav-back-button>
      <ion-nav-buttons side="left">
        <button class="button button-assertive icon ion-navicon" menu-toggle="left">
        </button>
      </ion-nav-buttons> 
      <ion-nav-buttons side="right">
        <button class="button button-more" ng-click="showAlert()">Saiba Mais</button>
        <button class="button button-assertive icon ion-arrow-left-c disabled" ng-click="prevSlide()" ng-class="class_prev"></button>
        <button class="button button-assertive icon ion-arrow-right-c" ng-click="nextSlide()" ng-class="class_next"></button>
      </ion-nav-buttons>      
    </ion-nav-bar>
    <ion-nav-view name="menuContent"></ion-nav-view>
  </ion-side-menu-content>
  <ion-side-menu side="left">
    <ion-header-bar class="bar-royal">
      <h1 class="title">Gênio Azul</h1>
    </ion-header-bar>
    <ion-content>
      <ion-list>
        <ion-item nav-clear menu-close href="#/app/introducao">
          1 - Eu me remexo muito
        </ion-item>
        <ion-item nav-clear menu-close href="#/app/capitulo_2">
          2 - Marcando o caminho
        </ion-item>
        <ion-item nav-clear menu-close href="maze.html">
          Desafio I
        </ion-item>
        <ion-item nav-clear menu-close href="#/app/capitulo_3">
          3 - Aprendendo Novidades
        </ion-item>
        <ion-item nav-clear menu-close href="#/app/capitulo_4">
          4 - Aprendendo a Desenhar
        </ion-item>
        <ion-item nav-clear menu-close href="bird.html">
          Desafio II
        </ion-item>
        <ion-item nav-clear menu-close href="#/app/capitulo_5">
          5 - Aperfeiçoando o desenho
        </ion-item>
        <ion-item nav-clear menu-close href="#/app/capitulo_6">
          6 - Jogo do Caramujo
        </ion-item>
        <ion-item nav-clear menu-close href="turtle.html">
          Desafio III
        </ion-item>
        <ion-item nav-clear menu-close href="#/app/capitulo_7">
          7 - Finalizando o jogo
        </ion-item>
<!--         <ion-item nav-clear menu-close href="movie.html">
          Desafio Final
        </ion-item> -->
      </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>
