/* CONTEÚDO */
.pane {
  background: url("../img/bg01.png") repeat scroll 0% 0%;
}

// FIXME: usar no lugar do bar-calm - texto com legibilidade ruim
// .bar-genio {
//   background: url("../img/bg02.png") repeat scroll 0% 0% red;
//   color: #EC0B6D;
// }

/* MENU E CONTEÚDO */
.menu-content .bar .title {
  font-weight: bold;
}

.menu {
  background-color: $royal-light;
  .scroll-content {
    background-color: #5b3180;
    background: url("../img/logo.png") no-repeat fixed 7% 95%;

    .item, a {
      background-color: rgba(172, 132, 173, 0.45);
      color: #000000
    }
  }
}

// .bar-header .button,
// .bar-header h1 {
//   color: #EC0B6D;
// }

.bar .button.back-button {
  padding: 0 5px;
}

/* SLIDE */
/* ajusta a altura para 100%, só funciona se o 
scroll do content estiver como false */

.slider {
  height: 100%;
}

/* Inicio css */
#logo_menu{
  width: 70pt;
  margin: 14pt 10pt 10pt 63pt;
}

.nina_pincipal{
  z-index: 999 !important;
}


.centralizar_nino{
  position: relative;
  left: 15% !important;
}

.centralizar_nina{
  left: -61%;
  bottom: 150pt !important;
}

.centraliza_nina{
  right: 68% !important;
}

.centralizar_dialogo{
  position: relative;
  left: 12% !important;
}

.centralizar_dialogo2{
  position: relative;
  left: 9% !important;
}

.centralizar_dialogo2_layout2{
  left: -42% !important;
}

.centralizar_dialogo3{
  position: relative;
  left: -42% !important;
}

.box {
  width: 100%;
  height: 100%;
  position: relative;
}

.nino, .gato {
  float: left;
}

.nino{
  position: relative;
  left: 3%;
  z-index: 9;
}

.nino2{
  position: relative;
  left: 3%;
  top: 35pt;
}

.nino3, .nino4{
  float: right;
  position: relative;
  right: 51%;
  width: 250pt;
  top: 30pt;
}

.nino_busto2{
  left: 20pt;
  top: 181pt;
}

.gato{
  position: absolute;
  padding-top: 35%;
  left: 53%;
  z-index: 99;
}

.gato2{
  position: relative;
  width: 246pt;
  left: 60%;
  bottom: -131pt;
}

.gato3{
  width: 200pt;
  position: relative;
  top: 97pt;
  left: 77%;
}

.gato4{
  width: 200pt;
  position: relative;
  top: 103pt;
  left: 74%;
}

.gato5{
  width: 200pt;
  position: relative;
  top: 207pt;
  left: 45%;
}

.nina{
  width: 85pt;
  float: right;
  position: relative;
  right: 5%;
  z-index: 999;
}

.nina2{
  float: right;
  width: 88pt;
  position: relative;
  bottom: 134pt;
  right: 73%;
}

.nina_toda{
  width: 85pt;
  float: left;
  position: relative;
  left: 14%;
  z-index: 99;
}

.papoNino, .papoNino_cap2{
  position: relative;
  bottom: 238pt;
  left: 129pt;  
}

.papoNino_cap3{
  position: relative;
  bottom: 238pt;
  left: 103pt;  
}

.papoNina_cap3{
  bottom: 238pt;
  left: 104pt;
}

.papoNino2, .papoNino_busto{
  position: absolute;
  top: 20pt;
  left: 145pt;
  float: left;  
}

.papoNino3, .papoNino4, .papoNino3_2{
  position: relative;
  left: 53%;
  bottom: 145pt;
  float: left;
}

.papoNina{
  position: relative;
  right: 288pt;
  bottom: 250pt;
}

.papoNina2, .papoNina2_1, .papoNina2_2, .papoNina2_3, .papoNina_depois, .papoNina2_rot{
  position: relative;
  left: 80pt;
  top: 30pt;
}

.papoCat, .papoCat5, .papoCat_cap2, .papoCat_cap3{
  position: relative;
  bottom: 311pt;
  right: 137pt;
}

.papo_gato2, .papo_gato3, .papo_gato2_antes, .gato2_2{
  position: relative;
  bottom: 380pt;
  left: 82pt;
}

.papoCat3, .papoCat4, .gato4_1, .gato4_2{
  position: relative;
  bottom: 340pt;
  right: 8pt;
}

.papoNina_busto{
  position: relative;
  left: 8pt;
  top: 30pt;  
}

.fotoNino{
  width: 138pt;
  position: relative;
  top: 36pt;
}

.fotoNina{
  width: 70pt;
  position: relative;
  top: 27pt;
  left: 13%;
}

.fotoNina2_2{
  width: 70pt;
  position: relative;
  top: 27pt;
  left: 13%;
}

.fotoNina2{
  width: 95pt;
  position: relative;
  top: 161pt;
  right: 37pt;
}

.fotoNina_busto{
  width: 95pt;
  position: relative;
  top: 180pt;
  left: 300pt;
}

.cat{
  width: 95pt;
  position: relative;
  bottom: 23pt;
}

.cat_img{
  width: 95pt;
  position: relative;
  bottom: 58pt;
  left: 95pt;
}

.cat2, .catPosition, .board_cat, .catPosition_cap2, .catPosition_board11, .catPosition_board12, .catPosition_board, .catPosition_board32,.catPosition_board34, .catPosition_board36,
.catPosition_board55, .catPosition_board56, .catPosition_board57, .catPosition_board58, .catPosition_board59, .catPosition_board60, .catPosition_board61, .catPosition_board62,
.catScratch{
  width: 264pt;
  position: relative;
  top: 7pt;
  left: 27%;
}

.catImg{
  top: 28pt;
  left: 140pt;
}

.catPosition{
  float: left;
  top: 2%;
  left: 27%;
}

.catPosition2{
  position: relative;
  float: left;
}

.painel_scratch{
  position: relative;
  left: 3%;
  top: 25pt;
}

.painel_scratch_board9{
  position: absolute;
  left: 18%;
  top: 40pt;
  width: 515px;
}

.painel_scratch_board16{
  position: absolute;
  left: 30%;
  top: 40pt;
  width: 314px;
}

.painel_scratch_board17{
  position: relative;
  left: 9%;
  top: 211pt;
  width: 580px;
}

.painel_scratch_board21{
  position: absolute;
  left: 10%;
  top: 40pt;
  width: 590px;
}

.painel_scratch_board24{
  position: relative;
  left: 5%;
  top: 11pt;
  width: 90%;
}

.painel_scratch_board25{
  position: absolute;
  left: 27%;
  top: 6pt;
  width: 400px;
}

.painel_scratch_board52{
  position: absolute;
  left: 27%;
  top: 14%;
  width: 410px;
}

.painel_scratch_board61{
  position: absolute;
  left: 30%;
  top: 40pt;
  width: 290px;
}

.painel_scratch_board63{
  position: absolute;
  left: 20%;
  top: 1%;
  width: 460px;
}

.painel_scratch2{
  position: absolute;
  left: 3%;
  top: 20pt;
}

.painel_scratch3{
  position: relative;
  top: 177pt;
}

.painel_scratch_cap2{
  position: relative;
  right: 9%;
  top: 42pt;
  width: 620px;
}

.board_scratch{
  width: 550pt;
  position: absolute;
  margin-top: 20pt;
}

.nino_busto, .nino_busto2{
  position: relative;
  width: 115pt;
}

.nino_busto{
  float: left;
}

.genio{
  position: relative;
  width: 110pt;
  bottom: 120pt;
  left: 410%;
}

.genioImg{
  position: relative;
  width: 110pt;
  bottom: -22pt;
  left: 100%;
}

.superg{
  position: absolute;
  top: 144pt;
}

.papog{
  position: absolute;
  bottom: 306pt;
  left: 395%;
}

.papoGenio{
  position: absolute;
  bottom: 162pt;
  left: 94%;
}

.supergenio{
  left: 19%;
}

.supergenio2{
  position: relative;
  right: 195pt;
}

/*Estilização de dos balões dos personagens*/
.seguir_papo_nino, .voltar_papo_nino, .seguir_papo_nina, .voltar_papo_nina, .seguir_papo_gato, .voltar_papo_gato, .seguir_papo_nino2, .voltar_papo_g, .seguir_papo_g,
.papoNino3_2{
  color: white;
  font-size: 10pt;
}

/*Estilização do tooltip do board do Scratch*/
#conjuto_comandos{
  background-color: #f96d06;
  opacity: 0.3;
  margin-top: 36pt;  
}
#conjuto_comandos, #comandos{
  position: absolute;
  width: 101pt;
  height: 52pt;
  z-index: 999;  
}

#lista_acoes{
  background-color: #ec0b6d;
  opacity: 0.3;
  margin-top: 90pt;
}

#lista_acoes, #acoes{
  position: absolute;
  width: 101pt;
  height: 271pt;
  z-index: 99; 
}

#area_prog{
  background-color: #33f903;
  opacity: 0.3;
  margin: 78pt 0 0 107pt;
}

#area_prog, #prog{
  position: absolute;
  width: 211pt;
  height: 284pt;
  z-index: 9;
}

#anima{
  margin: 39pt 0 0 184pt;
}

#area_anima{
  background-color: #041bbf;
  opacity: 0.3;
  margin: 13pt 0 0 139pt;
}

#area_anima, #anima{
  position: absolute;
  width: 222pt;
  height: 167pt;
}

/*tooltips*/
div.tooltips {
  position: absolute;
  display: inline;
}
div.tooltips span {
  position: absolute;
  color: #FFFFFF;
  padding: 10pt;
  line-height: 20px;
  text-align: center;
  visibility: hidden;
  border-radius: 6px;
}
div.tooltips span:after {
  content: '';
  position: absolute;
  margin-left: -6px;
  width: 0; height: 0;
  border-right: 8px solid transparent;
  border-left: 8px solid transparent;
}
div.balao_comandos span {
  width:300pt;
  background: #f48438;
  height: 73px;
}
div.balao_comandos span:after {
  top: 100%;
  left: 20%;
  border-top: 8px solid #f48438;
}
div.balao_acoes span {
  width:300pt;
  background: #ec0b6d;
  height: 73px;
}
div.balao_acoes span:after {
  top: 100%;
  left: 20%;
  border-top: 8px solid #ec0b6d;
}
div.balao_prog span {
  width:300pt;
  background: #8cc63f;
  height: 73px;
  top: 10%;
}
div.balao_prog span:after {
  top: 100%;
  left: 50%;
  border-top: 8px solid #8cc63f;
}
div.balao_anima span {
  width:300pt;
  background: #2e9fe5;
  height: 73px;
  top: 10%;
}
div.balao_anima span:after {
  top: 100%;
  left: 40%;
  border-top: 8px solid #2e9fe5;
}
div:hover.tooltips span {
  visibility: visible;
  bottom: 30px;
  left: 50%;
  margin-left: -76px;
  z-index: 999;
}

/*Botões de seguir e voltar dos balões*/
span.button, span.button.actived{
  background: #f97203 !important;
  border: 1px solid #ac6528 !important;
  border-radius: 23px !important;
  color: white !important;
  font-weight: bold !important;
  line-height: 45px !important;
}

.button-pass{
  width: auto;
  text-align: center;
  position: relative;
}
.button-height{
  bottom: -30pt;
}

.icon-left{
  padding-right: 7px;
}

.button-balloon{
  border-color: #421e5e;
  background-color: #F8F8F8;
  color: #444;
  position: relative;
  display: inline-block;
  margin: 0px;
  min-width: 45px;
  min-height: 40px;
  border-width: 1px;
  border-style: solid;
  border-radius: 2px;
  text-align: center;
  font-size: 24px;
  line-height: 42px;
  padding-left: 3pt;
  cursor: pointer;
}

.button-active{
color: white;
background-color: #9254a1;
font-size: 22pt;
border-radius: 25px;
}

.button-disabled{
  opacity: 0.5;
}

.enabled{
  opacity: 1;
}

.bubble p{
  margin: 0px 0px 10px;
  width: 220pt;
  text-align: center;
  padding: 10pt 0 0 20pt;
  font-size: 12pt;
}

.bubble-nino p, .bubble-nino2 p{
  color: #1844A5;
}

.bubble-gato p, .bubble-gato2 p{
  color: #F16102;
}

.bubble-nina p, .bubble-nina2 p{
  color: #D500D1;
}

.bubble-g p{
  color: #421e5e;
}

.bubble 
{
position: relative;
width: 345px;
height: 200px;
padding: 4px;
background: #FFFFFF;
-webkit-border-radius: 80px;
-moz-border-radius: 80px;
border-radius: 80px;
}
.animate.ng-hide-add,
.animate.ng-hide-remove {
  -webkit-transition: opacity 0.5s ease-in-out;
  -moz-transition: opacity 0.5s ease-in-out;
  -o-transition: opacity 0.5s ease-in-out;
  transition: opacity 0.5s ease-in-out;
  display: block !important;
  opacity: 1;
}
.animate.ng-hide {
  opacity: 0;
}
.bubble:after 
{
content: '';
position: absolute;
border-style: solid;
display: block;
width: 0;
z-index: 1;
}
.bubble:before 
{
content: '';
position: absolute;
border-style: solid;
display: block;
width: 0;
z-index: 0;
}

.bubble-nino 
{
border: #295fd6 solid 3px;
}
.bubble-nino:after 
{
border-width: 15px 46px 15px 0;
border-color: transparent #FFFFFF;
left: -46px;
top: 95px;
}
.bubble-nino:before 
{
border-width: 17px 48px 17px 0;
border-color: transparent #295fd6;
left: -51px;
top: 93px;
}

.bubble-nino2 
{
border: #295fd6 solid 3px;
}

.bubble-nino2:after 
{
border-width: 46px 15px 0;
border-color: #FFFFFF transparent;
bottom: -46px;
left: 82px;
}

.bubble-nino2:before 
{
border-width: 48px 17px 0;
border-color: #295fd6 transparent;
bottom: -51px;
left: 80px;
}

.bubble-gato 
{
border: #f7941f solid 3px;
}
.bubble-gato:after 
{
border-width: 46px 15px 0;
border-color: #FFFFFF transparent;
bottom: -46px;
left: 240px;
}
.bubble-gato:before 
{
border-width: 48px 17px 0;
border-color: #f7941f transparent;
bottom: -51px;
left: 238px;
}

.bubble-nina 
{
border: #D500D1 solid 3px;
}

.bubble-nina:after 
{
border-width: 15px 0 15px 46px;
border-color: transparent #FFFFFF;
right: -46px;
top: 95px;
}

.bubble-nina:before 
{
border-width: 17px 0 17px 48px;
border-color: transparent #D500D1;
right: -51px;
top: 93px;
}

.bubble-nina2 
{
border: #D500D1 solid 3px;
}

.bubble-nina2:after 
{
border-width: 14px 37px 14px 0;
border-color: transparent #FFFFFF;
left: -37px;
top: 68px;
}

.bubble-nina2:before 
{
border-width: 17px 40px 17px 0;
border-color: transparent #D500D1;
left: -44px;
top: 65px;
}

.bubble-gato2 
{
border: #f7941f solid 3px;
top: 180pt;
right: 277pt;
}

.bubble-gato2:after 
{
border-width: 15px 0 15px 46px;
border-color: transparent #FFFFFF;
right: -46px;
top: 95px;
}

.bubble-gato2:before 
{
border-width: 17px 0 17px 48px;
border-color: transparent #f7941f;
right: -51px;
top: 93px;
}

.bubble-g 
{
border: #421e5e solid 3px;
top: 180pt;
right: 277pt;
}

.bubble-g:after 
{
border-width: 15px 0 15px 46px;
border-color: transparent #FFFFFF;
right: -46px;
top: 95px;
}

.bubble-g:before 
{
border-width: 17px 0 17px 48px;
border-color: transparent #421e5e;
right: -51px;
top: 93px;
}

.voltar_dialogo{
  position: relative;
  left: 47pt;
}

.voltar_dialogo3{
  position: relative;
  left: 74%;
}

.voltar_dialogo4, .voltar_dialogo2{
  position: absolute;
  left: 76%;
}

.voltar_dialogo_board9{
  position: absolute;
  left: 64%;
}

.voltar_dialogo_board52{
  position: absolute;
  left: 60%;
}

.voltar_dialogo_board16{
  position: absolute;
  left: 50%;
}

.voltar_dialogo_board21{
  position: absolute;
  left: 66%;
}

.voltar_dialogo_board61{
  position: absolute;
  left: 47%;;
}

.voltar_dialogo5{
  position: absolute;
  left: 56%;
}

.voltar_dialogo_cap2{
  position: relative;
  left: 70%;
}

.voltar_dialogo2 .button{
  margin-top: 1%;
  margin-bottom: -3%;
}

.voltar_dialogo3 .button{
  margin-top: -20pt;
}

.voltar_dialogo4 .button{
  margin-top: 7pt;
}

.voltar_dialogo5 .button, .voltar_dialogo_cap2 .button{
  margin-top: 3pt;
}

.papoNina, .papoCat, .papog, .quadro1, .gato2_1_2, .quadro2, .quadro3, .papoCat3, .papoCat4, .gato4_2, .quadro4, .papo_gato2, .gato_cap2_2, .gato_cap3_2, .papoCat_cap2, .papoCat_cap3, .quadro1_cap2, .quadro1_cap3,
.papoNina2_2, .quadro5, .quadro6, .papoNino3_2, .papo_gato3, .papoCatdouble2, .catPosition_board12_1_2, .gato_cap3_3, .papoNina_depois, .gato2_2, .gatoPapo2, .gatoPapo2_2, .papoNino3_2, .gatoPapo2_3, .gatoPapo3_3,
.gato_2, .gato_3, .papog_2, .papoCat2_2, .papoCat2_3, .papoNina2_rot, .papoCat5_2, .supergenio, .papoNino3_II{
  display: none;
}

.quadro1, .quadro2, .quadro3, .quadro4, .quadro5, .quadro6{
  position: relative;
}

#quadro1_painel1{
  position: relative;
}

.board_background, .board_background2{
  background: #919191;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0 !important;
  left: 0;
  opacity: 0.85;
}

.centralizar{
  position: relative;
  left: 155pt;
}

.centralizar_gato{
  left: 300pt;
}
