<ion-view view-title="Jogo do Caramujo">
<ion-content padding="true">    
<ion-slide-box on-slide-changed="slideChanged_fourth(index)">
<ion-slide>
<div class="box">
	<div class="dialogo1_cap3">
		<div class="nina_toda nina_pincipal">
			<img class="fotoNina2_2" src="img/nina2.png">
			<div class="bubble-nina2 bubble papoNino_cap3 papoNino_cap3_layout2">
				<p>Estamos de volta, amiguinho! Tudo bem? Hoje vamos aprender a trabalhar com jogos. Não é empolgante?</p>
				<div class="button-pass button-height">
					<a href='#' class="voltar_papo_nino">
						<span class='button-balloon button-active button-disabled icon-left ion-chevron-left button-disabled'></span>
					</a>
					<a href='#' class="seguir_papo_nino" ng-click="nextBalloon('.papoNino_cap3','.papoCat_cap3')">
						<span class='button-balloon button-active icon-right ion-chevron-right'></span>
					</a>
				</div>
			</div>
		</div>
		<div class="gato">
			<img class="cat" src="img/cat2.png">
			<div class="bubble-gato bubble papoCat_cap3">
				<div class="gato_cap3_1">
					<p>Mas antes vamos relembrar algumas coisas: Aprendemos fazer formas mais complexas de desenho e a usar estrutura de repetição;</p>
					<div class="button-pass">
						<a href='#' class="voltar_papo_gato" ng-click="nextBalloon('.papoCat_cap3','.papoNino_cap3')">
							<span class='button-balloon button-active icon-left ion-chevron-left'></span>
						</a>
						<a href='#' class="seguir_papo_gato" ng-click="nextBalloon('.gato_cap3_1','.gato_cap3_2')">
							<span class='button-balloon button-active icon-right ion-chevron-right'></span>
						</a>
					</div>
				</div>
				<div class="gato_cap3_2">
					<p>Nesta aula, iremos aprender como criar um jogo totalmente através de programação. Vamos lá?</p>
					<div class="button-pass button-height">
						<a href='#' class="voltar_papo_gato" ng-click="nextBalloon('.gato_cap3_2','.gato_cap3_1')">
							<span class='button-balloon button-active icon-left ion-chevron-left'></span>
						</a>
						<a href='#' class="seguir_papo_gato">
							<span class='button-balloon button-active icon-right ion-chevron-right button-disabled'></span>
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="quadro1_cap3">
		<a href='#' class="voltar_dialogo_cap2" ng-click="nextBalloon('.quadro1_cap3','.dialogo1_cap3')">
			<span class='button'> Voltar ao diálogo</span>
		</a>
		<img class="painel_scratch_cap2" src="img/board37.png">
	</div>
</div>
</ion-slide>
<ion-slide>
<div class="box">
	<img class="painel_scratch_board21 " src="img/board48.png">
	<a href='#' class="voltar_dialogo_board21" ng-click="nextBalloon('#','.catPosition')">
		<span class='button'> Voltar ao diálogo</span>
	</a>
	<div class="board_background catPosition"></div>
	<div class="catPosition">
		<div class="papoCat2">
			<div class="bubble-gato bubble">
				<p>Acima da paleta de blocos, clique sobre o botão Eventos e arraste o bloco que possui a bandeira verde para o palco.</p>
				<div class="button-pass">
					<a href='#' class="voltar_papo_gato button-disabled">
						<span class='button-balloon button-active icon-left ion-chevron-left'></span>
					</a>
					<a href='#' class="seguir_papo_gato" ng-click="nextBalloon('.catPosition','#')">
						<span class='button-balloon button-active icon-right ion-chevron-right'></span>
					</a>
				</div>
			</div>
		</div>
		<img class="cat catImg" src="img/cat.png">
	</div>
</div>
</ion-slide>
<ion-slide>
<div class="box">
	<img class="painel_scratch_board9 " src="img/board49.png">
	<a href='#' class="voltar_dialogo_board9" ng-click="nextBalloon('#','.catPosition_cap2')">
		<span class='button'> Voltar ao diálogo</span>
	</a>
	<div class="board_background catPosition_cap2"></div>
	<div class="catPosition_cap2">
		<div class="papoCat2">
			<div class="bubble-gato bubble">
				<p>Depois vamos escolher mais dois blocos: o bloco “aponte para a direção... graus” e o bloco “vá para X:... Y...”, como podem ser vistos a seguir:</p>
				<div class="button-pass">
					<a href='#' class="voltar_papo_gato button-disabled">
						<span class='button-balloon button-active icon-left ion-chevron-left'></span>
					</a>
					<a href='#' class="seguir_papo_gato" ng-click="nextBalloon('.catPosition_cap2','#')">
						<span class='button-balloon button-active icon-right ion-chevron-right'></span>
					</a>
				</div>
			</div>
		</div>
		<img class="cat catImg" src="img/cat2.png">
	</div>
</div>
</ion-slide>
<ion-slide>
<div class="box">
	<img class="painel_scratch_board9 " src="img/board50.png">
	<a href='#' class="voltar_dialogo_board9" ng-click="nextBalloon('#','.catPosition_board11')">
		<span class='button'> Voltar ao diálogo</span>
	</a>
	<div class="board_background catPosition_board11"></div>
	<div class="catPosition_board11">
		<div class="papoCatdouble">
			<div class="bubble-gato bubble">
				<div class="papoCatdouble1">
					<p>O primeiro bloco vira o personagem para a direita do palco. O outro posiciona seu personagem ao lado superior esquerdo da tela. Aperte a bandeirinha verde.</p>
					<div class="button-pass">
						<a href='#' class="voltar_papo_gato button-disabled">
							<span class='button-balloon button-active icon-left ion-chevron-left'></span>
						</a>
						<a href='#' class="seguir_papo_gato" ng-click="nextBalloon('.catPosition_board11','#')">
							<span class='button-balloon button-active icon-right ion-chevron-right'></span>
						</a>
					</div>
				</div>
			</div>
		</div>
		<img class="cat catImg" src="img/cat.png">
	</div>
</div>
</ion-slide>
<ion-slide>
<div class="box">
	<img class="painel_scratch_board9 " src="img/board51.png">
	<a href='#' class="voltar_dialogo_board9" ng-click="nextBalloon('#','.catPosition_board12')">
		<span class='button'> Voltar ao diálogo</span>
	</a>
	<div class="board_background catPosition_board12"></div>
	<div class="catPosition_board12">
		<div class="papoCat2">
			<div class="bubble-gato bubble">
				<div class="catPosition_board12_1">
					<p>Agora iremos colocar mais alguns blocos que, possivelmente, você também já conhece. Acompanhe:</p>
					<div class="button-pass button-height">
						<a href='#' class="voltar_papo_gato button-disabled">
							<span class='button-balloon button-active icon-left ion-chevron-left'></span>
						</a>
						<a href='#' class="seguir_papo_gato" ng-click="nextBalloon('.catPosition_board12','#')">
							<span class='button-balloon button-active icon-right ion-chevron-right'></span>
						</a>
					</div>
				</div>
			</div>
		</div>
		<img class="cat catImg" src="img/cat2.png">
	</div>
</div>
</ion-slide>
<ion-slide>
<div class="box">
	<div class="papoCat2">
		<div class="bubble-gato bubble centralizar bubble_height">
			<p>O primeiro bloco verde é para que limpe toda a tela antes de começar novamente o projeto. O bloco que possui o nome de 'Levante a caneta' tem esse nome porque faz com que o personagem não desenhe ao se movimentar.</p>
		</div>
	</div>
	<img class="cat catImg centralizar_gato" src="img/cat.png">
</div>
</ion-slide>
<ion-slide>
<div class="box">
	<img class="painel_scratch_board52 " src="img/board52.png">
	<a href='#' class="voltar_dialogo_board52" ng-click="nextBalloon('#','.catPosition_board32')">
		<span class='button'> Voltar ao diálogo</span>
	</a>
	<div class="board_background catPosition_board32"></div>
	<div class="catPosition_board32">
		<div class="papoCat2">
			<div class="bubble-gato bubble">
				<p>Vamos mudar a intensidade que a caneta faz o risco e também a sua cor para laranja. Acrescente mais alguns elementos como são mostrados a seguir:</p>
				<div class="button-pass">
					<a href='#' class="voltar_papo_gato button-disabled">
						<span class='button-balloon button-active icon-left ion-chevron-left'></span>
					</a>
					<a href='#' class="seguir_papo_gato" ng-click="nextBalloon('.catPosition_board32','#')">
						<span class='button-balloon button-active icon-right ion-chevron-right'></span>
					</a>
				</div>
			</div>
		</div>
		<img class="cat catImg" src="img/cat2.png">
	</div>
</div>
</ion-slide>
<ion-slide>
<div class="box">
	<img class="painel_scratch_board9 " src="img/board53.png">
	<a href='#' class="voltar_dialogo_board9" ng-click="nextBalloon('#','.catPosition_board34')">
		<span class='button'> Voltar ao diálogo</span>
	</a>
	<div class="board_background catPosition_board34"></div>
	<div class="catPosition_board34">
		<div class="papoCat2">
			<div class="bubble-gato bubble">
				<div class="gatoPapo1">
					<p>As variáveis são componentes criados para guardar valores em texto ou número. Na caixa apresentada anteriormente coloque o nome de Tamanho.</p>
					<div class="button-pass">
						<a href='#' class="voltar_papo_gato button-disabled">
							<span class='button-balloon button-active icon-left ion-chevron-left'></span>
						</a>
						<a href='#' class="seguir_papo_gato" ng-click="nextBalloon('.gatoPapo1','.gatoPapo2')">
							<span class='button-balloon button-active icon-right ion-chevron-right'></span>
						</a>
					</div>
				</div>
				<div class="gatoPapo2">
					<p>Essa variável guardará o tamanho do nosso palco. Isso será importante para que possamos realizar alguns procedimentos mais para frente.</p>
					<div class="button-pass">
						<a href='#' class="voltar_papo_gato" ng-click="nextBalloon('.gatoPapo2','.gatoPapo1')">
							<span class='button-balloon button-active icon-left ion-chevron-left'></span>
						</a>
						<a href='#' class="seguir_papo_gato" ng-click="nextBalloon('.catPosition_board34','#')">
							<span class='button-balloon button-active icon-right ion-chevron-right'></span>
						</a>
					</div>
				</div>
			</div>
		</div>
		<img class="cat catImg" src="img/cat.png">
	</div>
</div>
</ion-slide>
<ion-slide>
<div class="box">
	<img class="painel_scratch_board9 " src="img/board54.png">
	<a href='#' class="voltar_dialogo_board9" ng-click="nextBalloon('#','.catPosition_board36')">
		<span class='button'> Voltar ao diálogo</span>
	</a>
	<div class="board_background catPosition_board36"></div>
	<div class="catPosition_board36">
		<div class="papoCat2">
			<div class="bubble-gato bubble">
				<p>Quando você adiciona uma variável, um conjunto de opções aparece, arraste a que começa com Mude Tamanho (nome da variável) para 340.</p>
				<div class="button-pass">
					<a href='#' class="voltar_papo_gato button-disabled">
						<span class='button-balloon button-active icon-left ion-chevron-left'></span>
					</a>
					<a href='#' class="seguir_papo_gato" ng-click="nextBalloon('.catPosition_board36','#')">
						<span class='button-balloon button-active icon-right ion-chevron-right'></span>
					</a>
				</div>
			</div>
		</div>
		<img class="cat catImg" src="img/cat2.png">
	</div>
</div>
</ion-slide>
<ion-slide>
<div class="box">
	<div class="papoCat2">
		<div class="bubble-gato bubble centralizar">
			<p>Esse valor de 340 é relacionado ao espaço de todo o palco da esquerda para a direita.</p>
		</div>
	</div>
	<img class="cat catImg centralizar_gato" src="img/cat.png">
</div>
</ion-slide>
<ion-slide>
<div class="box">
	<img class="painel_scratch_board9 " src="img/board55.png">
	<a href='#' class="voltar_dialogo_board9" ng-click="nextBalloon('#','.catPosition_board55')">
		<span class='button'> Voltar ao diálogo</span>
	</a>
	<div class="board_background catPosition_board55"></div>
	<div class="catPosition_board55">
		<div class="papoCat2">
			<div class="bubble-gato bubble">
				<p>Agora você deve adicionar mais um conjunto de blocos, como pode ser visto a seguir.</p>
				<div class="button-pass button-height">
					<a href='#' class="voltar_papo_gato button-disabled">
						<span class='button-balloon button-active icon-left ion-chevron-left'></span>
					</a>
					<a href='#' class="seguir_papo_gato" ng-click="nextBalloon('.catPosition_board55','#')">
						<span class='button-balloon button-active icon-right ion-chevron-right'></span>
					</a>
				</div>
			</div>
		</div>
		<img class="cat catImg" src="img/cat2.png">
	</div>
</div>
</ion-slide>
<ion-slide>
<div class="box">
	<img class="painel_scratch_board9 " src="img/board56.png">
	<a href='#' class="voltar_dialogo_board9" ng-click="nextBalloon('#','.catPosition_board56')">
		<span class='button'> Voltar ao diálogo</span>
	</a>
	<div class="board_background catPosition_board56"></div>
	<div class="catPosition_board56">
		<div class="papoCat2">
			<div class="bubble-gato bubble">
				<div class="gatoPapo1_2">
					<p>O bloco repetir determina que cada movimento usará a caneta, o tamanho do movimento será definido pela variável criada, depois virar para a direita em 90º.</p>
					<div class="button-pass">
						<a href='#' class="voltar_papo_gato button-disabled">
							<span class='button-balloon button-active icon-left ion-chevron-left'></span>
						</a>
						<a href='#' class="seguir_papo_gato" ng-click="nextBalloon('.gatoPapo1_2','.gatoPapo2_2')">
							<span class='button-balloon button-active icon-right ion-chevron-right'></span>
						</a>
					</div>
				</div>
				<div class="gatoPapo2_2">
					<p>O resultado desse bloco será duas linhas formando uma espécie de L. Acompanhe na imagem a seguir:</p>
					<div class="button-pass button-height">
						<a href='#' class="voltar_papo_gato" ng-click="nextBalloon('.gatoPapo2_2','.gatoPapo1_2')">
							<span class='button-balloon button-active icon-left ion-chevron-left'></span>
						</a>
						<a href='#' class="seguir_papo_gato" ng-click="nextBalloon('.catPosition_board56','#')">
							<span class='button-balloon button-active icon-right ion-chevron-right'></span>
						</a>
					</div>
				</div>
			</div>
		</div>
		<img class="cat catImg" src="img/cat.png">
	</div>
</div>
</ion-slide>
<ion-slide>
<div class="box">
	<div class="dialogo3">
		<div class="nino3">
			<img class="nino_busto" src="img/nino_busto.png">
			<div class="papoNino3">
				<div class="bubble-nino bubble">
					<div class="papoNino3_1">
						<p>Scratch, eu estou curioso. Por que estamos fazendo isso mesmo?</p>
						<div class="button-pass button-height">
							<a href='#' class="voltar_papo_nino">
								<span class='button-balloon button-active icon-left ion-chevron-left button-disabled'></span>
							</a>
							<a href='#' class="seguir_papo_nino" ng-click="nextBalloon('.papoNino3','.papo_gato3')">
								<span class='button-balloon button-active icon-right ion-chevron-right'></span>
							</a>
						</div>
					</div>
				</div>
			</div>
			<div class="papoNino3_2">
				<div class="bubble-nino bubble">
					<div class="papoNino3_1">
						<p>Certo, Scratch. É porque estou muito curioso para ver o resultado final! Mas vamos continuar então!</p>
						<div class="button-pass button-height">
							<a href='#' class="voltar_papo_nino" ng-click="nextBalloon('.papoNino3_2','.papo_gato3')">
								<span class='button-balloon button-active icon-left ion-chevron-left'></span>
							</a>
							<a href='#' class="seguir_papo_nino">
								<span class='button-balloon button-active icon-right ion-chevron-right button-disabled'></span>
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="gato2">
			<img class="cat_img" src="img/cat2.png">
			<div class="papo_gato3">
				<div class="bubble-gato2 bubble">
					<div class="gato3_1">
						<p>Muito boa pergunta, Caio. Estamos fazendo o cenário de nosso jogo, que será uma espécie de labirinto! Você verá mais para frente o resultado. Ok?</p>
						<div class="button-pass">
							<a href='#' class="voltar_papo_gato" ng-click="nextBalloon('.papo_gato3','.papoNino3')">
								<span class='button-balloon button-active icon-left ion-chevron-left'></span>
							</a>
							<a href='#' class="seguir_papo_gato" ng-click="nextBalloon('.papo_gato3','.papoNino3_2')">
								<span class='button-balloon button-active icon-right ion-chevron-right'></span>
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>	
</div>
</ion-slide>
<ion-slide>
<div class="box">
	<img class="painel_scratch_board9 " src="img/board57.png">
	<a href='#' class="voltar_dialogo_board9" ng-click="nextBalloon('#','.catPosition_board57')">
		<span class='button'> Voltar ao diálogo</span>
	</a>
	<div class="board_background catPosition_board57"></div>
	<div class="catPosition_board57">
		<div class="papoCat2">
			<div class="bubble-gato bubble">
				<p>Quando o bloco repetir for acionado, teremos a formação de duas linhas. Mas precisamos fazer mais duas linhas, só que bem menores.</p>
				<div class="button-pass">
					<a href='#' class="voltar_papo_gato button-disabled">
						<span class='button-balloon button-active icon-left ion-chevron-left'></span>
					</a>
					<a href='#' class="seguir_papo_gato" ng-click="nextBalloon('.catPosition_board57','#')">
						<span class='button-balloon button-active icon-right ion-chevron-right'></span>
					</a>
				</div>
			</div>
		</div>
		<img class="cat catImg" src="img/cat2.png">
	</div>
</div>
</ion-slide>
<ion-slide>
<div class="box">
	<img class="painel_scratch_board9 " src="img/board57.png">
	<a href='#' class="voltar_dialogo_board9" ng-click="nextBalloon('#','.catPosition_board58')">
		<span class='button'> Voltar ao diálogo</span>
	</a>
	<div class="board_background catPosition_board58"></div>
	<div class="catPosition_board58">
		<div class="papoCat2">
			<div class="bubble-gato bubble">
				<p>Agora precisamos diminuir o tamanho da variável que possui o Tamanho do espaço que o personagem irá percorrer.</p>
				<div class="button-pass">
					<a href='#' class="voltar_papo_gato button-disabled">
						<span class='button-balloon button-active icon-left ion-chevron-left'></span>
					</a>
					<a href='#' class="seguir_papo_gato" ng-click="nextBalloon('.catPosition_board58','#')">
						<span class='button-balloon button-active icon-right ion-chevron-right'></span>
					</a>
				</div>
			</div>
		</div>
		<img class="cat catImg" src="img/cat.png">
	</div>
</div>
</ion-slide>
<ion-slide>
<div class="box">
	<img class="painel_scratch_board52 " src="img/board59.png">
	<a href='#' class="voltar_dialogo_board52" ng-click="nextBalloon('#','.catPosition_board59')">
		<span class='button'> Voltar ao diálogo</span>
	</a>
	<div class="board_background catPosition_board59"></div>
	<div class="catPosition_board59">
		<div class="papoCat2">
			<div class="bubble-gato bubble">
				<div class="gatoPapo1_3">
					<p>Esse novo bloco fará seguinte: Mudará o valor da nossa primeira variável (340) para um valor de uma nova variável (– 50). O novo valor será 290.</p>
					<div class="button-pass">
						<a href='#' class="voltar_papo_gato button-disabled">
							<span class='button-balloon button-active icon-left ion-chevron-left'></span>
						</a>
						<a href='#' class="seguir_papo_gato" ng-click="nextBalloon('.gatoPapo1_3','.gatoPapo2_3')">
							<span class='button-balloon button-active icon-right ion-chevron-right'></span>
						</a>
					</div>
				</div>
				<div class="gatoPapo2_3">
					<p>Ou seja, toda vez que os dois blocos do meio forem iniciados, ele diminuirá o tamanho das linhas no desenho.</p>
					<div class="button-pass">
						<a href='#' class="voltar_papo_gato" ng-click="nextBalloon('.gatoPapo2_3','.gatoPapo1_3')">
							<span class='button-balloon button-active icon-left ion-chevron-left'></span>
						</a>
						<a href='#' class="seguir_papo_gato" ng-click="nextBalloon('.gatoPapo2_3','.gatoPapo3_3')">
							<span class='button-balloon button-active icon-right ion-chevron-right'></span>
						</a>
					</div>
				</div>
				<div class="gatoPapo3_3">
					<p>Ao fim, você terá um palco, todo desenhado pelo Scratch, que iremos utilizar para fazer um labirinto para outro personagem. Acompanhe o resultado:</p>
					<div class="button-pass">
						<a href='#' class="voltar_papo_gato" ng-click="nextBalloon('.gatoPapo3_3','.gatoPapo2_3')">
							<span class='button-balloon button-active icon-left ion-chevron-left'></span>
						</a>
						<a href='#' class="seguir_papo_gato" ng-click="nextBalloon('.catPosition_board59','#')">
							<span class='button-balloon button-active icon-right ion-chevron-right'></span>
						</a>
					</div>
				</div>
			</div>
		</div>
		<img class="cat catImg" src="img/cat2.png">
	</div>
</div>
</ion-slide>
<ion-slide>
<div class="box">
	<img class="painel_scratch_board9 " src="img/board60.png">
	<a href='#' class="voltar_dialogo_board9" ng-click="nextBalloon('#','.catPosition_board60')">
		<span class='button'> Voltar ao diálogo</span>
	</a>
	<div class="board_background catPosition_board60"></div>
	<div class="catPosition_board60">
		<div class="papoCat2">
			<div class="bubble-gato bubble">
				<p>Momento esconde-esconde! Nesse momento, nós iremos esconder o personagem para desenharmos somente a linha.</p>
				<div class="button-pass">
					<a href='#' class="voltar_papo_gato button-disabled">
						<span class='button-balloon button-active icon-left ion-chevron-left'></span>
					</a>
					<a href='#' class="seguir_papo_gato" ng-click="nextBalloon('.catPosition_board60','#')">
						<span class='button-balloon button-active icon-right ion-chevron-right'></span>
					</a>
				</div>
			</div>
		</div>
		<img class="cat catImg" src="img/cat.png">
	</div>
</div>
</ion-slide>
<ion-slide>
<div class="box">
	<img class="painel_scratch_board61 " src="img/board61.png">
	<a href='#' class="voltar_dialogo_board61" ng-click="nextBalloon('#','.catPosition_board61')">
		<span class='button'> Voltar ao diálogo</span>
	</a>
	<div class="board_background catPosition_board61"></div>
	<div class="catPosition_board61">
		<div class="papoCat2">
			<div class="bubble-gato bubble">
				<p>Essa modificação fará com que o personagem não apareça no momento da criação da linha. Vamos escolher um plano fundo e um personagem:</p>
				<div class="button-pass">
					<a href='#' class="voltar_papo_gato button-disabled">
						<span class='button-balloon button-active icon-left ion-chevron-left'></span>
					</a>
					<a href='#' class="seguir_papo_gato" ng-click="nextBalloon('.catPosition_board61','#')">
						<span class='button-balloon button-active icon-right ion-chevron-right'></span>
					</a>
				</div>
			</div>
		</div>
		<img class="cat catImg" src="img/cat2.png">
	</div>
</div>
</ion-slide>
<ion-slide>
<div class="box">
	<img class="painel_scratch_board9 " src="img/board62.png">
	<a href='#' class="voltar_dialogo_board9" ng-click="nextBalloon('#','.catPosition_board62')">
		<span class='button'> Voltar ao diálogo</span>
	</a>
	<div class="board_background catPosition_board62"></div>
	<div class="catPosition_board62">
		<div class="papoCat2">
			<div class="bubble-gato bubble">
				<p>Pronto. Já temos o nosso cenário. Agora vamos escolher um personagem para a nossa aventura e depois diminuir o seu tamanho. Acompanhe:</p>
				<div class="button-pass">
					<a href='#' class="voltar_papo_gato button-disabled">
						<span class='button-balloon button-active icon-left ion-chevron-left'></span>
					</a>
					<a href='#' class="seguir_papo_gato" ng-click="nextBalloon('.catPosition_board62','#')">
						<span class='button-balloon button-active icon-right ion-chevron-right'></span>
					</a>
				</div>
			</div>
		</div>
		<img class="cat catImg" src="img/cat.png">
	</div>
</div>
</ion-slide>
<ion-slide>
<div class="box">
	<img class="painel_scratch_board63" src="img/board63.png">
</div>
</ion-slide>
<ion-slide>
<div class="box">
	<div class="nina2 centraliza_nina">
		<img class="fotoNina_busto" src="img/nina_busto.png">
		<div class="papoNina_busto">
			<div class="bubble-nina bubble">
				<p>E agora é com você! Eu te desafio a elaborar um cenário para que você possa fazer seu próprio jogo. Será que você consegue?  Até a próxima.</p>
			</div>
		</div>
	</div>
</div>
</ion-slide>
</ion-slide-box>
</ion-content>
</ion-view>
