<ion-view view-title="Aperfeiçoando o desenho">
<ion-content padding="true">    
<ion-slide-box on-slide-changed="slideChanged_second(index)">
<ion-slide>
<div class="box">
	<div class="dialogo1_cap3">
		<div class="nina_toda nina_pincipal">
			<img class="fotoNina2_2" src="img/nina2.png">
			<div class="bubble-nina2 bubble papoNino_cap3 papoNino_cap3_layout2">
				<p>Olá amiguinho! Tudo bem? Hoje nós faremos muitos desenhos e aprenderemos formas mais emocionantes de elaborar estruturas.</p>
				<div class="button-pass">
					<a href='#' class="voltar_papo_nino">
						<span class='button-balloon button-active button-disabled icon-left ion-chevron-left button-disabled'></span>
					</a>
					<a href='#' class="seguir_papo_nino" ng-click="nextBalloon('.papoNino_cap3','.papoCat_cap3')">
						<span class='button-balloon button-active icon-right ion-chevron-right'></span>
					</a>
				</div>
			</div>
		</div>
		<div class="gato">
			<img class="cat" src="img/cat2.png">
			<div class="bubble-gato bubble papoCat_cap3">
				<div class="gato_cap3_1">
					<p>Mas antes vamos relembrar algumas coisas já foram vistas: Aprendemos a fazer desenhos como quadrado, triângulos e círculos.</p>
					<div class="button-pass">
						<a href='#' class="voltar_papo_gato" ng-click="nextBalloon('.papoCat_cap3','.papoNino_cap3')">
							<span class='button-balloon button-active icon-left ion-chevron-left'></span>
						</a>
						<a href='#' class="seguir_papo_gato" ng-click="nextBalloon('.gato_cap3_1','.gato_cap3_2')">
							<span class='button-balloon button-active icon-right ion-chevron-right'></span>
						</a>
					</div>
				</div>
				<div class="gato_cap3_2">
					<p>Nesta aula, iremos aprender a fazer lindos desenhos com várias cores diferentes. Vamos começar? </p>
					<div class="button-pass button-height">
						<a href='#' class="voltar_papo_gato" ng-click="nextBalloon('.gato_cap3_2','.gato_cap3_1')">
							<span class='button-balloon button-active icon-left ion-chevron-left'></span>
						</a>
						<a href='#' class="seguir_papo_gato" ng-click="nextBalloon('.gato_cap3_2','.gato_cap3_3')">
							<span class='button-balloon button-active icon-right ion-chevron-right'></span>
						</a>
					</div>
				</div>
				<div class="gato_cap3_3">
					<p>Primeiramente, crie um novo projeto. A seguir adicione os blocos mostrados mais à frente:</p>
					<div class="button-pass button-height">
						<a href='#' class="voltar_papo_gato" ng-click="nextBalloon('.gato_cap3_3','.gato_cap3_2')">
							<span class='button-balloon button-active icon-left ion-chevron-left'></span>
						</a>
						<a href='#' class="seguir_papo_gato" ng-click="nextBalloon('.dialogo1_cap3','.quadro1_cap3')">
							<span class='button-balloon button-active icon-right ion-chevron-right'></span>
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="quadro1_cap3">
		<a href='#' class="voltar_dialogo_cap2" ng-click="nextBalloon('.quadro1_cap3','.dialogo1_cap3')">
			<span class='button'> Voltar ao diálogo</span>
		</a>
		<img class="painel_scratch_cap2" src="img/board37.png">
	</div>
</div>
</ion-slide>
<ion-slide>
<div class="box">
	<img class="painel_scratch_board21 " src="img/board38.png">
	<a href='#' class="voltar_dialogo_board21" ng-click="nextBalloon('#','.catPosition')">
		<span class='button'> Voltar ao diálogo</span>
	</a>
	<div class="board_background catPosition"></div>
	<div class="catPosition">
		<div class="papoCat2">
			<div class="bubble-gato bubble">
				<p>Agora que já temos esses blocos iniciais, veremos como fazer um desenho com seis lados. Depois criaremos um desenho muito mais desafiador. Observe:</p>
				<div class="button-pass">
					<a href='#' class="voltar_papo_gato button-disabled">
						<span class='button-balloon button-active icon-left ion-chevron-left'></span>
					</a>
					<a href='#' class="seguir_papo_gato" ng-click="nextBalloon('.catPosition','#')">
						<span class='button-balloon button-active icon-right ion-chevron-right'></span>
					</a>
				</div>
			</div>
		</div>
		<img class="cat catImg" src="img/cat.png">
	</div>
</div>
</ion-slide>
<ion-slide>
<div class="box">
	<img class="painel_scratch_board9 " src="img/board39.png">
	<a href='#' class="voltar_dialogo_board9" ng-click="nextBalloon('#','.catPosition_cap2')">
		<span class='button'> Voltar ao diálogo</span>
	</a>
	<div class="board_background catPosition_cap2"></div>
	<div class="catPosition_cap2">
		<div class="papoCat2">
			<div class="bubble-gato bubble">
				<p>Para que o nosso desenho fique mais completo, podemos realizar o seguinte procedimento:</p>
				<div class="button-pass button-height">
					<a href='#' class="voltar_papo_gato button-disabled">
						<span class='button-balloon button-active icon-left ion-chevron-left'></span>
					</a>
					<a href='#' class="seguir_papo_gato" ng-click="nextBalloon('.catPosition_cap2','#')">
						<span class='button-balloon button-active icon-right ion-chevron-right'></span>
					</a>
				</div>
			</div>
		</div>
		<img class="cat catImg" src="img/cat2.png">
	</div>
</div>
</ion-slide>
<ion-slide>
<div class="box">
	<img class="painel_scratch_board9 " src="img/board40.png">
	<a href='#' class="voltar_dialogo_board9" ng-click="nextBalloon('#','.catPosition_board11')">
		<span class='button'> Voltar ao diálogo</span>
	</a>
	<div class="board_background catPosition_board11"></div>
	<div class="catPosition_board11">
		<div class="papoCatdouble">
			<div class="bubble-gato bubble">
				<div class="papoCatdouble1">
					<p>Faremos com que o objeto se movimente 5 graus por 72 vezes. Assim, criaremos um padrão de movimento. A estrutura de blocos ficará da seguinte forma:</p>
					<div class="button-pass">
						<a href='#' class="voltar_papo_gato button-disabled">
							<span class='button-balloon button-active icon-left ion-chevron-left'></span>
						</a>
						<a href='#' class="seguir_papo_gato" ng-click="nextBalloon('.catPosition_board11','#')">
							<span class='button-balloon button-active icon-right ion-chevron-right'></span>
						</a>
					</div>
				</div>
			</div>
		</div>
		<img class="cat catImg" src="img/cat.png">
	</div>
</div>
</ion-slide>
<ion-slide>
<div class="box">
	<div class="dialogo3">
		<div class="nino3">
			<img class="nino_busto" src="img/nino_busto.png">
			<div class="papoNino3">
				<div class="bubble-nino bubble">
					<p>Que lindo, Scratch! Mas toda vez que eu clico sobre a bandeirinha, o desenho antigo ainda permanece, como posso corrigir isso?</p>
					<div class="button-pass">
						<a href='#' class="voltar_papo_nino">
							<span class='button-balloon button-active icon-left ion-chevron-left button-disabled'></span>
						</a>
						<a href='#' class="seguir_papo_nino" ng-click="nextBalloon('.papoNino3','.papoCat3')">
							<span class='button-balloon button-active icon-right ion-chevron-right'></span>
						</a>
					</div>
				</div>
			</div>
		</div>
		<div class="gato3">
			<img class="cat" src="img/cat2.png">
			<div class="papoCat3">
				<div class="bubble-gato2 bubble">
					<p>Bem observado, Caio. É muito bom realizar uma limpeza no palco antes de começar algum projeto novo.Acompanhe os blocos que iremos adicionar:</p>
					<div class="button-pass">
						<a href='#' class="voltar_papo_gato" ng-click="nextBalloon('.papoCat3','.papoNino3')">
							<span class='button-balloon button-active icon-left ion-chevron-left'></span>
						</a>
						<a href='#' class="seguir_papo_gato" ng-click="nextBalloon('.dialogo3','.quadro3')">
							<span class='button-balloon button-active icon-right ion-chevron-right'></span>
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="quadro3">
		<a href='#' class="voltar_dialogo_board9" ng-click="nextBalloon('.quadro3','.dialogo3')">
			<span class='button'> Voltar ao diálogo</span>
		</a>
		<img class="painel_scratch_board9" src="img/board41.png">
	</div>
</div>
</ion-slide>
<ion-slide>
<div class="box">
	<img class="painel_scratch_board9 " src="img/board42.png">
	<a href='#' class="voltar_dialogo_board9" ng-click="nextBalloon('#','.catPosition_board12')">
		<span class='button'> Voltar ao diálogo</span>
	</a>
	<div class="board_background catPosition_board12"></div>
	<div class="catPosition_board12">
		<div class="papoCat2">
			<div class="bubble-gato bubble">
				<div class="catPosition_board12_1">
					<p>Se você quiser criar um desenho mais colorido, podemos dar cores a cada movimento da forma de 6 lados, adicionando mais 10 à tonalidade da cor.</p>
					<div class="button-pass">
						<a href='#' class="voltar_papo_gato button-disabled">
							<span class='button-balloon button-active icon-left ion-chevron-left'></span>
						</a>
						<a href='#' class="seguir_papo_gato" ng-click="nextBalloon('.catPosition_board12','#')">
							<span class='button-balloon button-active icon-right ion-chevron-right'></span>
						</a>
					</div>
				</div>
			</div>
		</div>
		<img class="cat catImg" src="img/cat2.png">
	</div>
</div>
</ion-slide>
<ion-slide>
<div class="box">
	<img class="painel_scratch_board9 " src="img/board43.png">
	<a href='#' class="voltar_dialogo_board9" ng-click="nextBalloon('#','.catPosition_board32')">
		<span class='button'> Voltar ao diálogo</span>
	</a>
	<div class="board_background catPosition_board32"></div>
	<div class="catPosition_board32">
		<div class="papoCat2">
			<div class="bubble-gato bubble">
				<p>O resultado será algo bastante colorido, vamos ver?</p>
				<div class="button-pass button-height">
					<a href='#' class="voltar_papo_gato button-disabled">
						<span class='button-balloon button-active icon-left ion-chevron-left'></span>
					</a>
					<a href='#' class="seguir_papo_gato" ng-click="nextBalloon('.catPosition_board32','#')">
						<span class='button-balloon button-active icon-right ion-chevron-right'></span>
					</a>
				</div>
			</div>
		</div>
		<img class="cat catImg" src="img/cat.png">
	</div>
</div>
</ion-slide>
<ion-slide>
<div class="box">
	<div class="dialogo4">
		<div class="nina2">
			<img class="fotoNina2" src="img/nina_busto2.png">
			<div class="papoNina2_1">
				<div class="bubble-nina2 bubble">
					<p>Scratch, eu estava observando a opção caneta e fiquei com uma dúvida. Qual é a diferença entre intensidade e tamanho?</p>
					<div class="button-pass">
						<a href='#' class="voltar_papo_nina">
							<span class='button-balloon button-active icon-left ion-chevron-left button-disabled'></span>
						</a>
						<a href='#' class="seguir_papo_nina" ng-click="nextBalloon('.papoNina2_1','.papoCat4')">
							<span class='button-balloon button-active icon-right ion-chevron-right'></span>
						</a>
					</div>
				</div>
			</div>
		</div>
		<div class="gato4">
			<img class="cat" src="img/cat2.png">
			<div class="papoCat4">
				<div class="bubble-gato2 bubble">
					<p>Imagine um pincel de cor vermelha. Se colocarmos uma intensidade leve, a cor será bem fraquinha. Caso contrário, a cor será bem mais forte. Observe:</p>
					<div class="button-pass">
						<a href='#' class="voltar_papo_gato" ng-click="nextBalloon('.papoCat4','.papoNina2_1')">
							<span class='button-balloon button-active icon-left ion-chevron-left'></span>
						</a>
						<a href='#' class="seguir_papo_gato" ng-click="nextBalloon('.dialogo4','.quadro4')">
							<span class='button-balloon button-active icon-right ion-chevron-right'></span>
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="quadro4">
		<img class="painel_scratch_board9" src="img/board44.png">
		<a href='#' class="voltar_dialogo_board9" ng-click="nextBalloon('.quadro4','.dialogo4')">
			<span class='button'> Voltar ao diálogo</span>
		</a>
	</div>
</div>
</ion-slide>
<ion-slide>
<div class="box">
	<div class="dialogo2">
		<div class="nina2">
			<img class="fotoNina2" src="img/nina_busto2.png">
			<div class="papoNina_depois">
				<div class="bubble-nina2 bubble">
					<p>E como fica o tamanho Scratch?</p>
					<div class="button-pass button-height">
						<a href='#' class="voltar_papo_nina" ng-click="nextBalloon('.papoNina_depois','.papo_gato2_antes')">
							<span class='button-balloon button-active icon-left ion-chevron-left'></span>
						</a>
						<a href='#' class="seguir_papo_nina" ng-click="nextBalloon('.papoNina_depois','.gato2_2')">
							<span class='button-balloon button-active icon-right ion-chevron-right'></span>
						</a>
					</div>
				</div>
			</div>
		</div>
		<div class="gato2">
			<img class="cat_img" src="img/cat2.png">
			<div class="papo_gato2_antes">
				<div class="bubble-gato2 bubble">
					<div class="gato2_1">
						<p>Percebe que do lado esquerdo temos uma tonalidade diferente da do lado direito? Confirmando que ao adicionar intensidade a cor fica mais forte.</p>
						<div class="button-pass">
							<a href='#' class="voltar_papo_gato">
								<span class='button-balloon button-active icon-left ion-chevron-left button-disabled'></span>
							</a>
							<a href='#' class="seguir_papo_gato" ng-click="nextBalloon('.papo_gato2_antes','.papoNina_depois')"ng-click="nextBalloon('.dialogo2','.quadro2')">
								<span class='button-balloon button-active icon-right ion-chevron-right'></span>
							</a>
						</div>
					</div>
				</div>
			</div>
			<div class="gato2_2">
				<div class="bubble-gato2 bubble">
					<p>Adicionando o bloco do tamanho com o valor de 5, estaremos definindo que a largura do pincel tenha o tamanho 5. Quanto maior o número, mais largo será.</p>
					<div class="button-pass">
						<a href='#' class="voltar_papo_gato" ng-click="nextBalloon('.gato2_2','.papoNina_depois')">
							<span class='button-balloon button-active icon-left ion-chevron-left'></span>
						</a>
						<a href='#' class="seguir_papo_gato" ng-click="nextBalloon('.dialogo2','.quadro2')">
							<span class='button-balloon button-active icon-right ion-chevron-right'></span>
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="quadro2">
		<img class="painel_scratch_board9" src="img/board45.png">
		<a href='#' class="voltar_dialogo_board9" ng-click="nextBalloon('.quadro2','.dialogo2')">
			<span class='button'> Voltar ao diálogo</span>
		</a>
	</div>
</div>
</ion-slide>
<ion-slide>
<div class="box">
	<img class="painel_scratch_board9 " src="img/board46.png">
	<a href='#' class="voltar_dialogo_board9" ng-click="nextBalloon('#','.catPosition_board34')">
		<span class='button'> Voltar ao diálogo</span>
	</a>
	<div class="board_background catPosition_board34"></div>
	<div class="catPosition_board34">
		<div class="papoCat2">
			<div class="bubble-gato bubble">
				<p>Então nós criaremos um belíssimo desenho. Olhe só o resultado final, que coisa linda!</p>
				<div class="button-pass button-height">
					<a href='#' class="voltar_papo_gato button-disabled">
						<span class='button-balloon button-active icon-left ion-chevron-left'></span>
					</a>
					<a href='#' class="seguir_papo_gato" ng-click="nextBalloon('.catPosition_board34','#')">
						<span class='button-balloon button-active icon-right ion-chevron-right'></span>
					</a>
				</div>
			</div>
		</div>
		<img class="cat catImg" src="img/cat2.png">
	</div>
</div>
</ion-slide>
<ion-slide>
<div class="box">
	<img class="painel_scratch_board9 " src="img/board47.png">
	<a href='#' class="voltar_dialogo_board9" ng-click="nextBalloon('#','.catPosition_board36')">
		<span class='button'> Voltar ao diálogo</span>
	</a>
	<div class="board_background catPosition_board36"></div>
	<div class="catPosition_board36">
		<div class="papoCat2">
			<div class="bubble-gato bubble">
				<p>Terminamos o estudo de como desenhar com programação. Tenho um desafio para você, será que você consegue realizar o seguinte desenho?</p>
				<div class="button-pass">
					<a href='#' class="voltar_papo_gato button-disabled">
						<span class='button-balloon button-active icon-left ion-chevron-left'></span>
					</a>
					<a href='#' class="seguir_papo_gato" ng-click="nextBalloon('.catPosition_board36','#')">
						<span class='button-balloon button-active icon-right ion-chevron-right'></span>
					</a>
				</div>
			</div>
		</div>
		<img class="cat catImg" src="img/cat.png">
	</div>
</div>
</ion-slide>
</ion-slide-box>
</ion-content>
</ion-view>
