<ion-view view-title="Marcando o caminho">
<ion-content padding="true">    
<ion-slide-box on-slide-changed="slideChanged_third(index)">
<ion-slide>
<div class="box">
  <div class="dialogo1_cap2 centralizar_dialogo">
    <div class="nino">
      <img class="fotoNino" src="img/nino.png">
      <div class="bubble-nino bubble papoNino_cap2">
        <p>Bem vindo de volta! É hora de continuarmos a aprender sobre recursos importantes e a desenvolver mais suas habilidades a cada dia.</p>
        <div class="button-pass">
          <a href='#' class="voltar_papo_nino">
            <span class='button-balloon button-active button-disabled icon-left ion-chevron-left button-disabled'></span>
          </a>
          <a href='#' class="seguir_papo_nino" ng-click="nextBalloon('.papoNino_cap2','.papoCat_cap2')">
            <span class='button-balloon button-active icon-right ion-chevron-right'></span>
          </a>
        </div>
      </div>
    </div>
    <div class="gato">
      <img class="cat" src="img/cat2.png">
      <div class="bubble-gato bubble papoCat_cap2">
       <div class="gato_cap2_1">
         <p>Na aventura anterior, você aprendeu alguns recursos, vamos recapitular? Como adicionar e excluir blocos; Como adicionar movimento e giro aos personagens;</p>
         <div class="button-pass">
           <a href='#' class="voltar_papo_gato" ng-click="nextBalloon('.papoCat_cap2','.papoNino_cap2')">
             <span class='button-balloon button-active icon-left ion-chevron-left'></span>
           </a>
           <a href='#' class="seguir_papo_gato" ng-click="nextBalloon('.gato_cap2_1','.gato_cap2_2')">
             <span class='button-balloon button-active icon-right ion-chevron-right'></span>
           </a>
         </div>
       </div>
       <div class="gato_cap2_2">
        <p>Agora você irá refazer os passos da última aula quando você aprendeu a me fazer andar. Você irá criar a mesma estrutura de blocos como na imagem a seguir:</p>
        <div class="button-pass">
          <a href='#' class="voltar_papo_gato" ng-click="nextBalloon('.gato_cap2_2','.gato_cap2_1')">
            <span class='button-balloon button-active icon-left ion-chevron-left'></span>
          </a>
          <a href='#' class="seguir_papo_gato" ng-click="nextBalloon('.dialogo1_cap2','.quadro1_cap2')">
            <span class='button-balloon button-active icon-right ion-chevron-right'></span>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="quadro1_cap2">
  <a href='#' class="voltar_dialogo_cap2" ng-click="nextBalloon('.quadro1_cap2','.dialogo1_cap2')">
    <span class='button'> Voltar ao diálogo</span>
  </a>
  <img class="painel_scratch_cap2 painel_scratch_board9_layout2" src="img/board8.png">
</div>
</div>
</ion-slide>
<ion-slide>
<div class="box">
  <img class="painel_scratch_board9 painel_scratch_board9_layout2_2" src="img/board9.png">
  <a href='#' class="voltar_dialogo_board9" ng-click="nextBalloon('#','.catPosition')">
    <span class='button'> Voltar ao diálogo</span>
  </a>
  <div class="board_background catPosition"></div>
  <div class="catScratch">
    <div class="papoCat2">
      <div class="bubble-gato bubble">
        <p>Agora vamos procurar pelo grupo Caneta. Clique na opção “Use a caneta” e a coloque embaixo dos outros blocos na Área de Comandos. </p>
        <div class="button-pass">
          <a href='#' class="voltar_papo_gato button-disabled">
            <span class='button-balloon button-active icon-left ion-chevron-left'></span>
          </a>
          <a href='#' class="seguir_papo_gato" ng-click="nextBalloon('.catScratch','.supergenio')">
            <span class='button-balloon button-active icon-right ion-chevron-right'></span>
          </a>
        </div>
      </div>
    </div>
    <img class="cat catImg" src="img/cat.png">
  </div>
  <div class="supergenio catPosition">
    <div class="papoGenio">
      <div class="bubble-g bubble">
        <div class="papog_1">
          <p>Não se esqueça de sempre clicar, depois da adição de um comando novo, sobre a bandeira verde para confirmar o comando.</p>
          <div class="button-pass">
            <a href='#' class="voltar_papo_g" ng-click="nextBalloon('.supergenio','.catScratch')">
              <span class='button-balloon button-active icon-left ion-chevron-left'></span>
            </a>
            <a href='#' class="seguir_papo_g" ng-click="nextBalloon('.catPosition','#')">
              <span class='button-balloon button-active icon-right ion-chevron-right'></span>
            </a>
          </div>
        </div>
      </div>
    </div>
    <img class="genioImg" src="img/genio.png">
  </div>
</div>
</ion-slide>
<ion-slide>
<div class="box">
  <img class="painel_scratch_board9 painel_scratch_board9_layout2_2" src="img/board10.png">
  <a href='#' class="voltar_dialogo_board9" ng-click="nextBalloon('#','.catPosition_cap2')">
    <span class='button'> Voltar ao diálogo</span>
  </a>
  <div class="board_background catPosition_cap2"></div>
  <div class="catPosition_cap2">
    <div class="papoCat2">
      <div class="bubble-gato bubble">
        <p>Com a opção “Use a caneta” selecionada, se você clicar várias vezes na bandeirinha verde, você verá uma linha mostrando o caminho por onde eu passei. Observe:</p>
        <div class="button-pass">
          <a href='#' class="voltar_papo_gato button-disabled">
            <span class='button-balloon button-active icon-left ion-chevron-left'></span>
          </a>
          <a href='#' class="seguir_papo_gato" ng-click="nextBalloon('.catPosition_cap2','#')">
            <span class='button-balloon button-active icon-right ion-chevron-right'></span>
          </a>
        </div>
      </div>
    </div>
    <img class="cat catImg" src="img/cat2.png">
  </div>
</div>
</ion-slide>
<ion-slide>
<div class="box">
  <img class="painel_scratch_board9 painel_scratch_board9_layout2_2" src="img/board11.png">
  <a href='#' class="voltar_dialogo_board9" ng-click="nextBalloon('#','.catPosition_board11')">
    <span class='button'> Voltar ao diálogo</span>
  </a>
  <div class="board_background catPosition_board11"></div>
  <div class="catPosition_board11">
    <div class="papoCat2">
      <div class="bubble-gato bubble">
        <p>Ainda no grupo Caneta, vamos trocar o bloco “Use a caneta” pelo bloco “Carimbe”. Mude também meus passos do bloco “Mova 30 passos” para “Mova 100 passos”.</p>
        <div class="button-pass">
          <a href='#' class="voltar_papo_gato button-disabled">
            <span class='button-balloon button-active icon-left ion-chevron-left'></span>
          </a>
          <a href='#' class="seguir_papo_gato" ng-click="nextBalloon('.catPosition_board11','#')">
            <span class='button-balloon button-active icon-right ion-chevron-right'></span>
          </a>
        </div>
      </div>
    </div>
    <img class="cat catImg" src="img/cat.png">
  </div>
</div>
</ion-slide>
<ion-slide>
<div class="box">
  <img class="painel_scratch_board9 painel_scratch_board9_layout2_2" src="img/board12.png">
  <a href='#' class="voltar_dialogo_board9" ng-click="nextBalloon('#','.catPosition_board12')">
    <span class='button'> Voltar ao diálogo</span>
  </a>
  <div class="board_background catPosition_board12"></div>
  <div class="catPosition_board12">
    <div class="papoCat2">
      <div class="bubble-gato bubble">
        <p>Quando você clicar sobre o botão da Bandeira Verde, você poderá visualizar o seguinte resultado:</p>
        <div class="button-pass button-height">
          <a href='#' class="voltar_papo_gato button-disabled">
            <span class='button-balloon button-active icon-left ion-chevron-left'></span>
          </a>
          <a href='#' class="seguir_papo_gato" ng-click="nextBalloon('.catPosition_board12','#')">
            <span class='button-balloon button-active icon-right ion-chevron-right'></span>
          </a>
        </div>
      </div>
    </div>
    <img class="cat catImg" src="img/cat2.png">
  </div>
</div>
</ion-slide>
<ion-slide>
<div class="box">
  <img class="painel_scratch_board9 painel_scratch_board9_layout2_2" src="img/board13.png">
  <a href='#' class="voltar_dialogo_board9" ng-click="nextBalloon('#','.catPosition_board13')">
    <span class='button'> Voltar ao diálogo</span>
  </a>
  <div class="board_background catPosition_board13"></div>
  <div class="catPosition_board13">
    <div class="nino">
      <img class="fotoNino" src="img/nino.png">
      <div class="bubble-nino bubble papoNino">
        <p>Scratch, eu tenho uma dúvida. Mesmo mudando as ações, a linha da Caneta continuou a aparecer no meu desenho. Como faço para apagar?</p>
        <div class="button-pass">
          <a href='#' class="voltar_papo_nino">
            <span class='button-balloon button-active button-disabled icon-left ion-chevron-left button-disabled'></span>
          </a>
          <a href='#' class="seguir_papo_nino" ng-click="nextBalloon('.papoNino','.papoNina')">
            <span class='button-balloon button-active icon-right ion-chevron-right'></span>
          </a>
        </div>
      </div>
    </div>
    <div class="gato">
      <img class="cat" src="img/cat.png">
      <div class="bubble-gato bubble papoCat">
        <p>Lógico, Clara. Que tal darmos uma olhada nas dicas abaixo?</p>
        <div class="button-pass button-height">
          <a href='#' class="voltar_papo_gato" ng-click="nextBalloon('.papoCat','.papoNina')">
            <span class='button-balloon button-active icon-left ion-chevron-left'></span>
          </a>
          <a href='#' class="seguir_papo_gato" ng-click="nextBalloon('.catPosition_board13','#')">
            <span class='button-balloon button-active icon-right ion-chevron-right'></span>
          </a>
        </div>
      </div>
    </div>
    <div class="nina">
      <img class="fotoNina" src="img/nina.png">
      <div class="bubble-nina bubble papoNina">
        <p>Essa eu respondo. Nós criaremos um Evento e escolheremos uma tecla do teclado para apagar o que foi feito. Scratch, por favor, nos mostre!</p>
        <div class="button-pass">
          <a href='#' class="voltar_papo_nina" ng-click="nextBalloon('.papoNina','.papoNino')">
            <span class='button-balloon button-active icon-left ion-chevron-left'></span>
          </a>
          <a href='#' class="seguir_papo_nina" ng-click="nextBalloon('.papoNina','.papoCat')">
            <span class='button-balloon button-active icon-right ion-chevron-right'></span>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
</ion-slide>
<ion-slide>
<div class="box">
  <img class="painel_scratch_board9 catLayout2_4 painel_scratch_board9_layout2_2" src="img/board14.png">
</div>
</ion-slide>
<ion-slide>
<div class="box">
  <div class="dialogo4" class="centralizar_dialogo">
    <div class="nina2">
      <img class="fotoNina2" src="img/nina_busto2.png">
      <div class="papoNina2_1">
        <div class="bubble-nina2 bubble">
          <p>Agora você clica na bandeirinha verde e tudo o que for desenhado poderá ser apagado quando você pressionar a letra L. A letra L virou um atalho.</p>
          <div class="button-pass">
            <a href='#' class="voltar_papo_nina">
              <span class='button-balloon button-active icon-left ion-chevron-left button-disabled'></span>
            </a>
            <a href='#' class="seguir_papo_nina" ng-click="nextBalloon('.dialogo4','.quadro4')">
              <span class='button-balloon button-active icon-right ion-chevron-right'></span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="quadro4">
    <a href='#' class="voltar_dialogo_board9" ng-click="nextBalloon('.quadro4','.dialogo4')">
      <span class='button'> Voltar ao diálogo</span>
    </a>
    <img class="painel_scratch_board9 painel_scratch_board9_layout2_2" src="img/board15.png">
  </div>
</div>
</ion-slide>
<ion-slide>
<div class="box">
  <div class="catPosition_board">
    <div class="papoGato">
      <div class="bubble-gato bubble">
        <p>Fácil, não é? Em breve poderemos movimentar um personagem por todo o palco. Mas calma, ainda veremos como fazer isso mais à frente.</p>
      </div>
    </div>
    <img class="cat catImg" src="img/cat.png">
  </div>
</div>
</ion-slide>
<ion-slide>
<div class="box">
  <div class="dialogo3 centralizar_dialogo">
    <div class="nino3">
      <img class="nino_busto" src="img/nino_busto.png">
      <div class="papoNino3">
        <div class="bubble-nino bubble">
          <p>Mais um desafio? Agora que você já aprendeu um pouco mais sobre o Scratch, será que você consegue fazer com que o nosso amiguinho faça o seguinte percurso?</p>
          <div class="button-pass">
            <a href='#' class="voltar_papo_nino">
              <span class='button-balloon button-active icon-left ion-chevron-left button-disabled'></span>
            </a>
            <a href='#' class="seguir_papo_nino" ng-click="nextBalloon('.dialogo3','.quadro3')">
              <span class='button-balloon button-active icon-right ion-chevron-right'></span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="quadro3">
    <a href='#' class="voltar_dialogo_board16" ng-click="nextBalloon('.quadro3','.dialogo3')">
      <span class='button'> Voltar ao diálogo</span>
    </a>
    <img class="painel_scratch_board16 painel_scratch_board16_layout2" src="img/board16.png">
  </div>
</div>
</ion-slide>
<ion-slide>
<div class="box">
  <div class="dialogo4">
    <div class="nina2 centralizar_nina">
      <img class="fotoNina2" src="img/nina_busto2.png">
      <div class="papoNina2_1">
        <div class="bubble-nina2 bubble">
          <p>Os blocos que serão necessários para você executar esse desafio, são exatamente os que são mostrados aqui abaixo:</p>
        </div>
      </div>
    </div>
    <img class="painel_scratch_board17" src="img/board17.png">
  </div>
</div>
</ion-slide>
<ion-slide>
<div class="box">
  <div class="gato5">
    <img class="cat" src="img/cat2.png">
    <div class="papoCat5 catLayout2_3">
      <div class="bubble-gato bubble">
        <p>Isso mesmo! Você está aprendendo muito rápido. Continue praticando que você irá longe! Até a próxima!</p>
      </div>
    </div>
  </div>
</div>
</ion-slide>
</ion-slide-box>
</ion-content>
</ion-view>
