<ion-view view-title="Aprendendo a Desenhar">
<ion-content padding="true">    
<ion-slide-box on-slide-changed="slideChanged_third(index)">
<ion-slide>
<div class="box">
	<div class="dialogo1_cap2 centralizar_dialogo">
		<div class="nino">
			<img class="fotoNino" src="img/nino.png">
			<div class="bubble-nino bubble papoNino_cap2">
				<p>Oi amiguinho! Tudo bem? Iremos aprender como desenhar objetos através da programação. Vamos usar tudo o que aprendemos para fazer algo incrível!</p>
				<div class="button-pass">
					<a href='#' class="voltar_papo_nino">
						<span class='button-balloon button-active button-disabled icon-left ion-chevron-left button-disabled'></span>
					</a>
					<a href='#' class="seguir_papo_nino" ng-click="nextBalloon('.papoNino_cap2','.papoCat_cap2')">
						<span class='button-balloon button-active icon-right ion-chevron-right'></span>
					</a>
				</div>
			</div>
		</div>
		<div class="gato">
			<img class="cat" src="img/cat2.png">
			<div class="bubble-gato bubble papoCat_cap2">
				<div class="gato_cap2_1">
					<p>Vamos relembrar algumas coisas: utilizar blocos com eventos em um mesmo projeto; posicionamento do personagem através de X e Y.</p>
					<div class="button-pass">
						<a href='#' class="voltar_papo_gato" ng-click="nextBalloon('.papoCat_cap2','.papoNino_cap2')">
							<span class='button-balloon button-active icon-left ion-chevron-left'></span>
						</a>
						<a href='#' class="seguir_papo_gato" ng-click="nextBalloon('.gato_cap2_1','.gato_cap2_2')">
							<span class='button-balloon button-active icon-right ion-chevron-right'></span>
						</a>
					</div>
				</div>
				<div class="gato_cap2_2">
					<p>A aventura está ficando mais emocionante! Nesta aula, vamos aprender como criar desenhos com conceitos que já vimos como a Caneta. Então vamos começar?</p>
					<div class="button-pass">
						<a href='#' class="voltar_papo_gato" ng-click="nextBalloon('.gato_cap2_2','.gato_cap2_1')">
							<span class='button-balloon button-active icon-left ion-chevron-left'></span>
						</a>
						<a href='#' class="seguir_papo_gato button-disabled">
							<span class='button-balloon button-active icon-right ion-chevron-right'></span>
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
</ion-slide>
<ion-slide>
<div class="box">
	<img class="painel_scratch_board21 " src="img/board26.png">
	<a href='#' class="voltar_dialogo_board21" ng-click="nextBalloon('#','.catPosition')">
		<span class='button'> Voltar ao diálogo</span>
	</a>
	<div class="board_background catPosition"></div>
	<div class="catPosition">
		<div class="papoCat2">
			<div class="bubble-gato bubble">
				<p>Primeiramente, crie um novo projeto. E a seguir adicione os seguintes blocos:</p>
				<div class="button-pass button-height">
					<a href='#' class="voltar_papo_gato button-disabled">
						<span class='button-balloon button-active icon-left ion-chevron-left'></span>
					</a>
					<a href='#' class="seguir_papo_gato" ng-click="nextBalloon('.catPosition','#')">
						<span class='button-balloon button-active icon-right ion-chevron-right'></span>
					</a>
				</div>
			</div>
		</div>
		<img class="cat catImg" src="img/cat.png">
	</div>
</div>
</ion-slide>
<ion-slide>
<div class="box">
	<img class="painel_scratch_board9 " src="img/board27.png">
	<a href='#' class="voltar_dialogo_board9" ng-click="nextBalloon('#','.catPosition_cap2')">
		<span class='button'> Voltar ao diálogo</span>
	</a>
	<div class="board_background catPosition_cap2"></div>
	<div class="catPosition_cap2">
		<div class="papoCat2">
			<div class="bubble-gato bubble">
				<p>O Scratch gira e anda 10 passos toda vez que você clicar na bandeirinha. Existem alguns blocos que podemos usar para fazer repetições.</p>
				<div class="button-pass">
					<a href='#' class="voltar_papo_gato button-disabled">
						<span class='button-balloon button-active icon-left ion-chevron-left'></span>
					</a>
					<a href='#' class="seguir_papo_gato" ng-click="nextBalloon('.catPosition_cap2','#')">
						<span class='button-balloon button-active icon-right ion-chevron-right'></span>
					</a>
				</div>
			</div>
		</div>
		<img class="cat catImg" src="img/cat2.png">
	</div>
</div>
</ion-slide>
<ion-slide>
<div class="box">
	<img class="painel_scratch_board9 " src="img/board28.png">
	<a href='#' class="voltar_dialogo_board9" ng-click="nextBalloon('#','.catPosition_board11')">
		<span class='button'> Voltar ao diálogo</span>
	</a>
	<div class="board_background catPosition_board11"></div>
	<div class="catPosition_board11">
		<div class="papoCatdouble">
			<div class="bubble-gato bubble">
				<div class="papoCatdouble1">
					<p>Quando adicionamos o bloco com nome "Repetir", será repetido a quantidade de vezes que está dentro do bloco. Por padrão o bloco terá o número 10.</p>
					<div class="button-pass">
						<a href='#' class="voltar_papo_gato button-disabled">
							<span class='button-balloon button-active icon-left ion-chevron-left'></span>
						</a>
						<a href='#' class="seguir_papo_gato" ng-click="nextBalloon('.papoCatdouble1','.papoCatdouble2')">
							<span class='button-balloon button-active icon-right ion-chevron-right'></span>
						</a>
					</div>
				</div>
				<div class="papoCatdouble2">
					<p>Se estamos querendo fazer um quadrado que possui 4 lados do mesmo tamanho, podemos modificar o valor das repetições para 4. Observe:</p>
					<div class="button-pass">
						<a href='#' class="voltar_papo_gato" ng-click="nextBalloon('.papoCatdouble2','.papoCatdouble1')">
							<span class='button-balloon button-active icon-left ion-chevron-left'></span>
						</a>
						<a href='#' class="seguir_papo_gato" ng-click="nextBalloon('.catPosition_board11','#')">
							<span class='button-balloon button-active icon-right ion-chevron-right'></span>
						</a>
					</div>
				</div>
			</div>
		</div>
		<img class="cat catImg" src="img/cat.png">
	</div>
</div>
</ion-slide>
<ion-slide>
<div class="box">
	<img class="painel_scratch_board16 " src="img/board29.png">
	<a href='#' class="voltar_dialogo_board16" ng-click="nextBalloon('#','.catPosition_board12')">
		<span class='button'> Voltar ao diálogo</span>
	</a>
	<div class="board_background catPosition_board12"></div>
	<div class="catPosition_board12">
		<div class="papoCat2">
			<div class="bubble-gato bubble">
				<div class="catPosition_board12_1">
					<p>Vamos modificar dois valores, o primeiro será a quantidade de passos que o personagem terá que avançar, segundo o valor que está dentro da rotação.</p>
					<div class="button-pass">
						<a href='#' class="voltar_papo_gato button-disabled">
							<span class='button-balloon button-active icon-left ion-chevron-left'></span>
						</a>
						<a href='#' class="seguir_papo_gato" ng-click="nextBalloon('.catPosition_board12_1','.catPosition_board12_1_2')">
							<span class='button-balloon button-active icon-right ion-chevron-right'></span>
						</a>
					</div>
				</div>
				<div class="catPosition_board12_1_2">
					<p>Na régua temos os seguintes valores: 0, 90, 180, 270. Para movimentar o Scratch em diferentes posições, vamos começar a trabalhar com os ângulos de 90 graus.</p>
					<div class="button-pass">
						<a href='#' class="voltar_papo_gato" ng-click="nextBalloon('.catPosition_board12_1_2','.catPosition_board12_1')">
							<span class='button-balloon button-active icon-left ion-chevron-left'></span>
						</a>
						<a href='#' class="seguir_papo_gato" ng-click="nextBalloon('.catPosition_board12','#')">
							<span class='button-balloon button-active icon-right ion-chevron-right'></span>
						</a>
					</div>
				</div>
			</div>
		</div>
		<img class="cat catImg" src="img/cat2.png">
	</div>
</div>
</ion-slide>
<ion-slide>
<div class="box">
	<div class="dialogo4">
		<div class="nina2">
			<img class="fotoNina2" src="img/nina_busto2.png">
			<div class="papoNina2_1">
				<div class="bubble-nina2 bubble">
					<p>Então devo modificar o valor que está dentro do bloco "Gire 15 Graus" para "Gire 90 Graus", correto?</p>
					<div class="button-pass">
						<a href='#' class="voltar_papo_nina">
							<span class='button-balloon button-active icon-left ion-chevron-left button-disabled'></span>
						</a>
						<a href='#' class="seguir_papo_nina" ng-click="nextBalloon('.papoNina2_1','.papoCat4')">
							<span class='button-balloon button-active icon-right ion-chevron-right'></span>
						</a>
					</div>
				</div>
			</div>
		</div>
		<div class="gato4">
			<img class="cat" src="img/cat2.png">
			<div class="papoCat4">
				<div class="bubble-gato2 bubble">
					<div class="gato4_IV">
						<p>Isso mesmo, Clara! Modifique também os valores para que fiquem iguais aos do exemplo abaixo.</p>
						<div class="button-pass">
							<a href='#' class="voltar_papo_gato" ng-click="nextBalloon('.papoCat4','.papoNina2_1')">
								<span class='button-balloon button-active icon-left ion-chevron-left'></span>
							</a>
							<a href='#' class="seguir_papo_gato" ng-click="nextBalloon('.dialogo4','.quadro4')">
								<span class='button-balloon button-active icon-right ion-chevron-right'></span>
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="quadro4">
		<img class="painel_scratch_board9" src="img/board30.png">
		<a href='#' class="voltar_dialogo_board9" ng-click="nextBalloon('.quadro4','.dialogo4')">
			<span class='button'> Voltar ao diálogo</span>
		</a>
	</div>
</div>
</ion-slide>
<ion-slide>
<div class="box">
	<div class="dialogo2">
		<div class="nina2">
			<img class="fotoNina2" src="img/nina_busto2.png">
			<div class="papoNina2">
				<div class="bubble-nina2 bubble">
					<p>Mas o personagem ficou de lado e o quadrado também. Não podemos ajeitar isso?</p>
					<div class="button-pass button-height">
						<a href='#' class="voltar_papo_nina">
							<span class='button-balloon button-active icon-left ion-chevron-left button-disabled'></span>
						</a>
						<a href='#' class="seguir_papo_nina" ng-click="nextBalloon('.papoNina2','.papo_gato2')">
							<span class='button-balloon button-active icon-right ion-chevron-right'></span>
						</a>
					</div>
				</div>
			</div>
		</div>
		<div class="gato2">
			<img class="cat_img" src="img/cat2.png">
			<div class="papo_gato2">
				<div class="bubble-gato2 bubble">
					<div class="gato2_1">
						<p>Sim podemos! É só clicar com o botão direito em cima do personagem e escolher a opção INFO.</p>
						<div class="button-pass">
							<a href='#' class="voltar_papo_gato" ng-click="nextBalloon('.papo_gato2','.papoNina2')">
								<span class='button-balloon button-active icon-left ion-chevron-left'></span>
							</a>
							<a href='#' class="seguir_papo_gato" ng-click="nextBalloon('.dialogo2','.quadro2')">
								<span class='button-balloon button-active icon-right ion-chevron-right'></span>
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="quadro2">
		<img class="painel_scratch_board9" src="img/board31.png">
		<a href='#' class="voltar_dialogo_board9" ng-click="nextBalloon('.quadro2','.dialogo2')">
			<span class='button'> Voltar ao diálogo</span>
		</a>
	</div>
</div>
</ion-slide>
<ion-slide>
<div class="box">
	<img class="painel_scratch_board9 " src="img/board32.png">
	<a href='#' class="voltar_dialogo_board9" ng-click="nextBalloon('#','.catPosition_board32')">
		<span class='button'> Voltar ao diálogo</span>
	</a>
	<div class="board_background catPosition_board32"></div>
	<div class="catPosition_board32">
		<div class="papoCat2">
			<div class="bubble-gato bubble">
				<p>Aparecerão três valores: X, Y e Direção. Depois, mudamos o valor de Rotação para que corresponda ao que é mostrado na imagem a seguir: 90°.</p>
				<div class="button-pass">
					<a href='#' class="voltar_papo_gato button-disabled">
						<span class='button-balloon button-active icon-left ion-chevron-left'></span>
					</a>
					<a href='#' class="seguir_papo_gato" ng-click="nextBalloon('.catPosition_board32','#')">
						<span class='button-balloon button-active icon-right ion-chevron-right'></span>
					</a>
				</div>
			</div>
		</div>
		<img class="cat catImg" src="img/cat.png">
	</div>
</div>
</ion-slide>
<ion-slide>
<div class="box">
	<div class="dialogo6">
		<div class="supergenio2">
			<div class="papoGenio papoGenio_layout2">
				<div class="bubble-g bubble">
					<div class="papog_1">
						<p>Lembrete: para limpar a linha que ficou no palco. Devemos adicionar o seguinte conjunto de blocos. Veja a seguir:</p>
						<div class="button-pass">
							<a href='#' class="voltar_papo_g">
								<span class='button-balloon button-active icon-left ion-chevron-left button-disabled'></span>
							</a>
							<a href='#' class="seguir_papo_g" ng-click="nextBalloon('.dialogo6','.quadro3')">
								<span class='button-balloon button-active icon-right ion-chevron-right'></span>
							</a>
						</div>
					</div>
				</div>
			</div>
			<img class="genioImg genioImg_layout2" src="img/genio.png">
		</div>
	</div>
	<div class="quadro3">
		<a href='#' class="voltar_dialogo_board9" ng-click="nextBalloon('.quadro3','.dialogo6')">
			<span class='button'> Voltar ao diálogo</span>
		</a>
		<img class="painel_scratch_board9" src="img/board33.png">
	</div>
</div>
</ion-slide>
<ion-slide>
<div class="box">
	<img class="painel_scratch_board9 " src="img/board34.png">
	<a href='#' class="voltar_dialogo_board9" ng-click="nextBalloon('#','.catPosition_board34')">
		<span class='button'> Voltar ao diálogo</span>
	</a>
	<div class="board_background catPosition_board34"></div>
	<div class="catPosition_board34">
		<div class="papoCat2">
			<div class="bubble-gato bubble">
				<p>Agora podemos criar vários desenhos e até círculos. A estrutura de blocos a seguir mostra um exemplo. </p>
				<div class="button-pass">
					<a href='#' class="voltar_papo_gato button-disabled">
						<span class='button-balloon button-active icon-left ion-chevron-left'></span>
					</a>
					<a href='#' class="seguir_papo_gato" ng-click="nextBalloon('.catPosition_board34','#')">
						<span class='button-balloon button-active icon-right ion-chevron-right'></span>
					</a>
				</div>
			</div>
		</div>
		<img class="cat catImg" src="img/cat2.png">
	</div>
</div>
</ion-slide>
<ion-slide>
<div class="box">
	<div class="dialogo3">
		<div class="nino3">
			<img class="nino_busto" src="img/nino_busto.png">
			<div class="papoNino3">
				<div class="bubble-nino bubble">
					<div class="papoNino3_1">
						<p>Isso é muito legal, Scratch. Será que podemos criar outros objetos também?</p>
						<div class="button-pass button-height">
							<a href='#' class="voltar_papo_nino">
								<span class='button-balloon button-active icon-left ion-chevron-left button-disabled'></span>
							</a>
							<a href='#' class="seguir_papo_nino" ng-click="nextBalloon('.papoNino3','.papo_gato3')">
								<span class='button-balloon button-active icon-right ion-chevron-right'></span>
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="gato2">
			<img class="cat_img" src="img/cat2.png">
			<div class="papo_gato3">
				<div class="bubble-gato2 bubble">
					<div class="gato3_1">
						<p>Podemos sim! Veja como é possível criar um triangulo!</p>
						<div class="button-pass button-height">
							<a href='#' class="voltar_papo_gato" ng-click="nextBalloon('.papo_gato3','.papoNino3')">
								<span class='button-balloon button-active icon-left ion-chevron-left'></span>
							</a>
							<a href='#' class="seguir_papo_gato" ng-click="nextBalloon('.dialogo3','.quadro5')">
								<span class='button-balloon button-active icon-right ion-chevron-right'></span>
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="quadro5">
		<img class="painel_scratch_board9" src="img/board35.png">
		<a href='#' class="voltar_dialogo_board9" ng-click="nextBalloon('.quadro5','.dialogo3')">
			<span class='button'> Voltar ao diálogo</span>
		</a>
	</div>	
</div>
</ion-slide>
<ion-slide>
<div class="box">
	<img class="painel_scratch_board9 " src="img/board36.png">
	<a href='#' class="voltar_dialogo_board9" ng-click="nextBalloon('#','.catPosition_board36')">
		<span class='button'> Voltar ao diálogo</span>
	</a>
	<div class="board_background catPosition_board36"></div>
	<div class="catPosition_board36">
		<div class="papoCat2">
			<div class="bubble-gato bubble">
				<p>Com base em todos os objetos que você criou. Então gostaria de te desafiar, que tal fazer o que é mostrado na imagem a seguir? Até a próxima!</p>
				<div class="button-pass">
					<a href='#' class="voltar_papo_gato button-disabled">
						<span class='button-balloon button-active icon-left ion-chevron-left'></span>
					</a>
					<a href='#' class="seguir_papo_gato" ng-click="nextBalloon('.catPosition_board36','#')">
						<span class='button-balloon button-active icon-right ion-chevron-right'></span>
					</a>
				</div>
			</div>
		</div>
		<img class="cat catImg" src="img/cat.png">
	</div>
</div>
</ion-slide>
</ion-slide-box>
</ion-content>
</ion-view>
