<ion-view view-title="Finalizando o jogo">
<ion-content padding="true">    
<ion-slide-box on-slide-changed="slideChanged_first(index)">
<ion-slide>
<div class="box">
	<div class="dialogo1_cap3">
		<div class="nina_toda nina_pincipal">
			<img class="fotoNina2_2" src="img/nina2.png">
			<div class="bubble-nina2 bubble papoNino_cap3 papoNino_cap3_layout2">
				<p>Olá meu amiguinho! Você está virando um mestre em programação. Nós continuaremos a aprender como criar um joguinho. Preparado?</p>
				<div class="button-pass">
					<a href='#' class="voltar_papo_nino">
						<span class='button-balloon button-active button-disabled icon-left ion-chevron-left button-disabled'></span>
					</a>
					<a href='#' class="seguir_papo_nino" ng-click="nextBalloon('.papoNino_cap3','.papoCat_cap3')">
						<span class='button-balloon button-active icon-right ion-chevron-right'></span>
					</a>
				</div>
			</div>
		</div>
		<div class="gato">
			<img class="cat" src="img/cat2.png">
			<div class="bubble-gato bubble papoCat_cap3">
				<div class="gato_cap3_1">
					<p>Na aula anterior, vimos alguns blocos que nos permitem criar o nosso próprio cenário com várias estruturas de repetição, como diminuir linhas.</p>
					<div class="button-pass">
						<a href='#' class="voltar_papo_gato" ng-click="nextBalloon('.papoCat_cap3','.papoNino_cap3')">
							<span class='button-balloon button-active icon-left ion-chevron-left'></span>
						</a>
						<a href='#' class="seguir_papo_gato" ng-click="nextBalloon('.gato_cap3_1','.gato_cap3_2')">
							<span class='button-balloon button-active icon-right ion-chevron-right'></span>
						</a>
					</div>
				</div>
				<div class="gato_cap3_2">
					<p>Nesta aula, iremos concluir a elaboração do jogo acrescentando o movimento do nosso personagem, neste caso, o caramujo.</p>
					<div class="button-pass">
						<a href='#' class="voltar_papo_gato" ng-click="nextBalloon('.gato_cap3_2','.gato_cap3_1')">
							<span class='button-balloon button-active icon-left ion-chevron-left'></span>
						</a>
						<a href='#' class="seguir_papo_gato">
							<span class='button-balloon button-active icon-right ion-chevron-right button-disabled'></span>
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
</ion-slide>
<ion-slide>
<div class="box">
	<img class="painel_scratch_board21 painel_scratch_board21_2" src="img/board64.png">
	<a href='#' class="voltar_dialogo_board21" ng-click="nextBalloon('#','.catPosition')">
		<span class='button'> Voltar ao diálogo</span>
	</a>
	<div class="board_background catPosition"></div>
	<div class="catPosition">
		<div class="papoCat2">
			<div class="bubble-gato bubble">
				<p>Continuando a partir no nosso projeto da aula passada, clique sobre o caramujo e adicione os seguintes blocos:</p>
				<div class="button-pass">
					<a href='#' class="voltar_papo_gato button-disabled">
						<span class='button-balloon button-active icon-left ion-chevron-left'></span>
					</a>
					<a href='#' class="seguir_papo_gato" ng-click="nextBalloon('.catPosition','#')">
						<span class='button-balloon button-active icon-right ion-chevron-right'></span>
					</a>
				</div>
			</div>
		</div>
		<img class="cat catImg" src="img/cat.png">
	</div>
</div>
</ion-slide>
<ion-slide>
<div class="box">
	<img class="painel_scratch_board9 painel_scratch_board9_2" src="img/board65.png">
	<a href='#' class="voltar_dialogo_board9" ng-click="nextBalloon('#','.catPosition_board34')">
		<span class='button'> Voltar ao diálogo</span>
	</a>
	<div class="board_background catPosition_board34"></div>
	<div class="catPosition_board34">
		<div class="papoCat2">
			<div class="bubble-gato bubble">
				<div class="gatoPapo1">
					<p>Todos os blocos têm que estar configurados para uma direção que corresponde as teclas de navegação, como é mostrado na imagem anterior.</p>
					<div class="button-pass">
						<a href='#' class="voltar_papo_gato button-disabled">
							<span class='button-balloon button-active icon-left ion-chevron-left'></span>
						</a>
						<a href='#' class="seguir_papo_gato" ng-click="nextBalloon('.gatoPapo1','.gatoPapo2')">
							<span class='button-balloon button-active icon-right ion-chevron-right'></span>
						</a>
					</div>
				</div>
				<div class="gatoPapo2">
					<p>Quando você aperta a tecla, o personagem se movimenta para a direção que você está indicando. Para isso, precisamos adicionar mais dois blocos. Acompanhe:</p>
					<div class="button-pass">
						<a href='#' class="voltar_papo_gato" ng-click="nextBalloon('.gatoPapo2','.gatoPapo1')">
							<span class='button-balloon button-active icon-left ion-chevron-left'></span>
						</a>
						<a href='#' class="seguir_papo_gato" ng-click="nextBalloon('.catPosition_board34','#')">
							<span class='button-balloon button-active icon-right ion-chevron-right'></span>
						</a>
					</div>
				</div>
			</div>
		</div>
		<img class="cat catImg" src="img/cat2.png">
	</div>
</div>
</ion-slide>
<ion-slide>
<div class="box">
	<img class="painel_scratch_board9 painel_scratch_board9_2" src="img/board66.png">
	<a href='#' class="voltar_dialogo_board9" ng-click="nextBalloon('#','.catPosition_board56')">
		<span class='button'> Voltar ao diálogo</span>
	</a>
	<div class="board_background catPosition_board56"></div>
	<div class="catPosition_board56">
		<div class="papoCat2">
			<div class="bubble-gato bubble">
				<div class="gatoPapo1_2">
					<p>Verifique se o caranguejo encostou nas bordas, porque, se isso acontecer, o personagem deve apresentar uma mensagem e, depois, voltar ao início do labirinto.</p>
					<div class="button-pass">
						<a href='#' class="voltar_papo_gato button-disabled">
							<span class='button-balloon button-active icon-left ion-chevron-left'></span>
						</a>
						<a href='#' class="seguir_papo_gato" ng-click="nextBalloon('.gatoPapo1_2','.gatoPapo2_2')">
							<span class='button-balloon button-active icon-right ion-chevron-right'></span>
						</a>
					</div>
				</div>
				<div class="gatoPapo2_2">
					<p>Para isso, vamos ter que adicionar alguns elementos, que são mostrados a seguir:</p>
					<div class="button-pass button-height">
						<a href='#' class="voltar_papo_gato" ng-click="nextBalloon('.gatoPapo2_2','.gatoPapo1_2')">
							<span class='button-balloon button-active icon-left ion-chevron-left'></span>
						</a>
						<a href='#' class="seguir_papo_gato" ng-click="nextBalloon('.catPosition_board56','#')">
							<span class='button-balloon button-active icon-right ion-chevron-right'></span>
						</a>
					</div>
				</div>
			</div>
		</div>
		<img class="cat catImg" src="img/cat.png">
	</div>
</div>
</ion-slide>
<ion-slide>
<div class="box">
	<div class="dialogo3">
		<div class="nino3">
			<img class="nino_busto" src="img/nino_busto.png">
			<div class="papoNino3">
				<div class="bubble-nino bubble">
					<div class="papoNino3_1">
						<p>Quando o personagem encostar na cor da borda que criamos, será mostrado uma mensagem e em seguida o caramujo voltará para a posição original.</p>
						<div class="button-pass">
							<a href='#' class="voltar_papo_nino">
								<span class='button-balloon button-active icon-left ion-chevron-left button-disabled'></span>
							</a>
							<a href='#' class="seguir_papo_nino" ng-click="nextBalloon('.papoNino3','.papo_gato3')">
								<span class='button-balloon button-active icon-right ion-chevron-right'></span>
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="gato2">
			<img class="cat_img" src="img/cat2.png">
			<div class="papo_gato3">
				<div class="bubble-gato2 bubble">
					<div class="gato3_1">
						<p>Repita esse mesmo procedimento várias vezes para os demais botões! Veja como deve ficar:</p>
						<div class="button-pass button-height">
							<a href='#' class="voltar_papo_gato" ng-click="nextBalloon('.papo_gato3','.papoNino3')">
								<span class='button-balloon button-active icon-left ion-chevron-left'></span>
							</a>
							<a href='#' class="seguir_papo_gato" ng-click="nextBalloon('.dialogo3','.quadro3')">
								<span class='button-balloon button-active icon-right ion-chevron-right'></span>
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="quadro3">
		<a href='#' class="voltar_dialogo_board9" ng-click="nextBalloon('.quadro3','.dialogo3')">
			<span class='button'> Voltar ao diálogo</span>
		</a>
		<img class="painel_scratch_board9 painel_scratch_board9_2" src="img/board67.png">
	</div>	
</div>
</ion-slide>
<ion-slide>
<div class="box">
	<div class="nina2 centraliza_nina">
		<img class="fotoNina_busto" src="img/nina_busto.png">
		<div class="papoNina_busto">
			<div class="bubble-nina bubble bubble_nina_layout2">
				<p>Legal, não é mesmo? Agora já podemos montar o nosso próprio joguinho. Um desafio, aventureiro: Como fazer para que o personagem tenha apenas três tentativas de ganhar? Você pode me mostrar como fazer?</p>
			</div>
		</div>
	</div>
</div>
</ion-slide>
</ion-slide-box>
</ion-content>
</ion-view>
