#blockly {
  position: fixed;
  bottom: 10px;
}
#capacityBubble {
  position: absolute;
  margin-top: -0.5em;
  left: 10px;
  top: 375px;
  width: 380px;
}
#linkButton{
  display: none;
}

#conteudo{
  top: 15px;
}

#runButton, #resetButton{
  width: 220px;
  margin-right: -3px;
}

#visualization {
  position: relative;
}
.edges, .edgeX, .edgeY {
  stroke-width: 1;
  stroke: #BBA;
  fill: none;
  font-family: sans-serif;
  font-size: 10pt;
  font-weight: 100;
}
.edgeX {
  text-anchor: start;
}

#svgBird {
  overflow: hidden;
  direction: ltr;
  background: #fff; 
}

img[src$="help_up.png"] {
  margin: -20px 10px 0;
  height: 64px;
  width: 23px;
}

/* Buttons */
button.primary {
  /* Can't use "text-align: start" due to IE. */
  text-align: left;
}
html[dir="RTL"] button.primary {
  text-align: right;
}

/* Sprited icons. */
.icon21 {
  height: 21px;
  width: 21px;
  background-image: url(icons.png);
}
.link {
  background-position: 0px 0px;
}
.run {
  background-position: 0px -21px;
}
.stop {
  background-position: -21px -21px;
}
