body {
  background: url("../../../img/bg01.png") repeat scroll 0% 0%;
  font-family: sans-serif;
  margin: 0;
}
h1 {
  font-weight: normal;
  font-size: 130%;
  color: white;
}
h1 a {
  text-decoration: none;
  color: #ef473a;
  font-weight: bold;
}
a:hover {
  color: #f00;
}
.farSide {
  float: right;
}
html[dir="RTL"] .farSide {
  text-align: left;
}

.blocklyTreeRow{
  height: 40px !important;
}

.blocklySvg {
  background-color: #fff;
  border: 1px solid #ddd;
  overflow: hidden;
}

.level_number {
  border: solid 1px #fff;
  border-radius: 20px;
  padding: 6px 12px;
  color: #fff;
}
.level_dot {
  border: solid 1px #fff;
	border-radius: 50%;
	width: 15px;
	height: 15px;
  display: inline-block;
}
.level_done, .level_dot:hover, .level_number:hover {
  background-color: #ef473a;
  color: #fff;
  border: solid 1px #e42012;
}
#containerCode {
  direction: ltr;
  background-color: #eee;
  padding: 5px;
  margin: 0 3ex;
  font-size: large;
  overflow: auto;
  max-height: 200px;
}

img[src$="help.png"] {
  height: 64px;
  width: 64px;
}

html[dir="RTL"] .mirrorImg {
  transform: scaleX(-1);
  -moz-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -ms-transform: scaleX(-1);
}

#languageMenu {
  vertical-align: top;
  margin-top: 16px;
}

/* Buttons */
button {
  margin: 5px;
  padding: 10px;
  border-radius: 4px;
  border: 1px solid #ddd;
  font-size: large;
  background-color: #eee;
  color: #000;
}
button.primary {
  border: 1px solid #dd4b39;
  background-color: #dd4b39;
  color: #fff;
}
button.secondary {
  border: 1px solid #4d90fe;
  background-color: #4d90fe;
  color: #fff;
}
button.primary>img,
button.secondary>img {
  opacity: 1;
}
button>img {
  opacity: 0.6;
  vertical-align: text-bottom;
}
button:hover:not(:disabled)>img {
  opacity: 1;
}
button:active:not(:disabled) {
  border: 1px solid #888 !important;
}
button:hover:not(:disabled) {
  box-shadow: 2px 2px 5px #888;
}

/* Dialogs */
#dialog {
  visibility: hidden;
  background-color: #fff;
  color: #000;
  border: 1px solid #ccc;
  position: absolute;
  border-radius: 8px;
  box-shadow: 5px 5px 5px #888;
  padding: 10px;
}
#dialogBorder {
  visibility: hidden;
  position: absolute;
  background-color: #fff;
  color: #000;
  border: 1px solid #000;
  border-radius: 6px;
  box-shadow: 5px 5px 5px #888;
}
#dialogShadow {
  visibility: hidden;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #000;
  opacity: 0.3
}
.dialogAnimate {
  transition-property: width height left top opacity;
  transition-duration: 0.2s;
  transition-timing-function: linear;
}
.dialogHiddenContent {
  visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}
#dialogHeader {
  height: 25px;
  margin: -10px -10px 15px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  background-color: #ddd;
  cursor: move;
}
#dialog button {
  min-width: 4em;
}

/*Alterações*/

table[width="100%"]{
  background-color: #11c1f3;
  padding: 0 10pt;
  margin-bottom: 10pt;
}

#conteudo{
  text-decoration: none;
  padding: 10pt;
  background-color: #ef473a;
  position: relative;
  top: -6pt;
  margin-left: 5pt;
  color: #fff;
  border-radius: 5px;
  font-weight: bold;
}